body {
  padding-top: 50px;
}

td, th {
  vertical-align: middle !important;
}

td.combo-table {
  vertical-align: top !important;
}

iframe {
  border: 0px none transparent;
}

@media (min-width: 768px) {
    .pull-right-sm {
        float: right;
    }
}

@media (min-width: 992px) {
    .pull-right-md {
        float: right;
    }
}

@media (min-width: 1200px) {
    .pull-right-lg {
        float: right;
    }
}

.center-table {
    margin-left:auto;
    margin-right:auto;
}

.rank-button {
    width:35px;
    height:30px!important;
}

.suit-button {
    background-color: #FFFFFF;
    width:46px;
    padding-left:0px;
    padding-right:0px;
    padding-top:4px;
    padding-bottom:4px;
}

.pad-above {
    padding-top:10px;
}

.pad-left {
    padding-left:10px;
}

.r_hdn { }
.r_sel { background-color: #C0C0C0 !important; }
.r_una { background-color: #FFFFFF; }
.r_fol { background-color: #FF8080; }
.r_pas { background-color: #FFFF80; }
.r_agg { background-color: #80FF80; }
.r_mix { background-color: #8080FF; }
.s_hdn { }
.s_sel { background-color: #C0C0C0 !important; }
