html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
}

td, th {
  vertical-align: middle !important;
}

iframe {
  border: 0px none transparent;
}

@media (min-width: 768px) {
    .pull-right-sm {
        float: right;
    }
}

@media (min-width: 992px) {
    .pull-right-md {
        float: right;
    }
}

@media (min-width: 1200px) {
    .pull-right-lg {
        float: right;
    }
}

.center-table {
    margin-left:auto;
    margin-right:auto;
}

.rank-button {
    width:35px;
    height:30px!important;
}

.suit-button {
    background-color: #FFFFFF;
    width:46px;
    padding-left:0px;
    padding-right:0px;
    padding-top:4px;
    padding-bottom:4px;
}