{% extends "base.html" %}
{% block content %}
<h2>Game Page - Acting</h2>
<p><em>This is one of three views of the Game Page.</em></p>
<p><em>This view is shown when it's the user's turn. Here, the user is shown the hand history so far, their range for the current point in the hand, and they can then enter their ranges for their next action.</em></p>
<p><em>When the user completes their action, the page will become the <a href="{{ url_for('game_waiting') }}">Game Page - Waiting</a>.</em></p>
{% endblock %}
