{% extends "base.html" %}
{% block content %}
<h2>Situation Page</h2>
<p>Range vs. Range is very new, and there are only a few training situations. We've chosen the most profitable<sup><a href="#note1">[1]</a></sup> situations to start with. Soon, you will be able to customise situations entirely. Pick a situation!</p>
<form method="post" name="situation">
  {# Note: we don't handle validation errors, because they can't really get this form wrong! #}
  {{form.hidden_tag()}}
  <p>
    {% for subfield in form.situationid %}
    {{subfield}} {{subfield.label}}<br>
    {% endfor %}
  </p>
  <p><input type="submit" value="Go!" /></p>
</form>
{% if matching_games %}
<hr>
<p>Or you can <a href="{{ url_for('open_games_page', path='postflop') }}">Browse Open Games</a> and choose from one of {{matching_games}} postflop games waiting to start!</p>
{% endif %}
<hr>
<p><span id="note1"><strong>Note 1:</strong></span> Here, profitable means that you have the most room to improve your winrate. While flopping middle set in position on a dry board against an aggressive opponent might be a very profitable situation to be in, it's not a spot where post-flop training is going to make much difference to your winrate!</p>
{% endblock %}
