{% extends 'old/base.html' %}
{% block scripts %}
<script type=text/javascript>
$CURRENT_BUTTON = null;
range_view = function(button_id, row_id, ori, fol, pas, agg, is_check, is_raise) {
    $('#current-viewer-row').remove(); // if any
    if (button_id == $CURRENT_BUTTON) {
        $CURRENT_BUTTON = null;
        return;
    }
    $CURRENT_BUTTON = button_id;
    dynamic_url = $SCRIPT_ROOT + '/range-editor?embedded=true&rng_unassigned=nothing&rng_original=' + encodeURIComponent(ori) + '&rng_fold=' + encodeURIComponent(fol) + '&rng_passive=' + encodeURIComponent(pas) + '&rng_aggressive=' + encodeURIComponent(agg) + '&raised=' + encodeURIComponent(is_raise) + '&can_check=' + encodeURIComponent(is_check);
    iframe = $('<iframe>', {id: 'viewer', style: 'border: 0px none transparent;', src: dynamic_url});
    iframe.width(550);
    iframe.height(550);
    iframe.text('Sorry, your browser does not support iframes.');
    td = $('<td>');
    td.append(iframe);
    tr = $('<tr>').attr('id', 'current-viewer-row');
    tr.append(td);
    $('#' + row_id).after(tr);
};
</script>
{% endblock %}
{% block content %}
<table style="width: 700px">
{% for hint, item in history %}
  <tr id="history-table-{{item.index}}" style="border-style: solid; border-width: 1px">
    <td style="padding-left: 5px">
    {% if hint == "ACTION_SUMMARY" %}
      <strong>{{item.screenname}}
      {% set result = item.action_result %}
      {% if result.is_fold %}folds
      {%- elif result.is_passive and result.call_cost %}calls {{result.call_cost}}
      {%- elif result.is_passive %}checks
      {%- elif result.is_aggressive and result.is_raise %}raises to {{result.raise_total}}
      {%- elif result.is_aggressive %}bets {{result.raise_total}}
      {%- else %}does something inexplicable
      {%- endif %},</strong>
      with {{item.combos}} combos ({{"%0.2f" % item.percent}}% of all possible hands) 
    {% elif hint == "ACTION_RESULT" %}
      <strong>{{item.screenname}}
      {% set result = item.action_result %}
      {% if result.is_fold %}folds
      {%- elif result.is_passive and result.call_cost %}calls {{result.call_cost}}
      {%- elif result.is_passive %}checks
      {%- elif result.is_aggressive and result.is_raise %}raises to {{result.raise_total}}
      {%- elif result.is_aggressive %}bets {{result.raise_total}}
      {%- else %}does something inexplicable
      {%- endif %}</strong>
    {% elif hint == "RANGE_ACTION" %}
      {{item.screenname}}
      folds {{"%0.2f" % item.fold_pct}}%,
      {% if item.is_check %}checks{% else %}calls{% endif %} {{"%0.2f" % item.passive_pct}}%,
      {% if item.is_raise %}raises{% else %}bets{% endif %} {{"%0.2f" % item.aggressive_pct}}%
      (to total {{item.raise_total}})
    {% elif hint == "BOARD" %}
      {{item[0]}}: {% for card in item[1] %}<img alt="{{card}}" src="/static/smallcards/{{card}}.png">{% endfor %}
    {% else %}
      {{item[0]}}
    {% endif %}
    </td>
    <td style="padding-left: 10px">
    {% if hint == "RANGE_ACTION" or hint == "ACTION_SUMMARY" %}
    <button type=button id="view-action-{{item.index}}" class="pure-button" onclick="range_view('view-action-{{item.index}}', 'history-table-{{item.index}}', '{{item.original}}', '{{item.fold}}', '{{item.passive}}', '{{item.aggressive}}', {{item.is_check|tojson}}, {{item.is_raise|tojson}});">View</button>
    {% elif hint == "ACTION_RESULT" %}
    <div title="Range hidden while hand is in progress"><button type=button class="pure-button" disabled=disabled>View</button></div>
    {% endif %}
    </td>
  </tr>
{% endfor %}
</table>
{% if not history %}
  <ul><li>Nothing, yet.</li></ul>
{% endif %}
</ul>
{% endblock %}