{% extends "old/history.html" %}
{% block scripts %}
{{ super() }}
<script type=text/javascript>
  $(function() {
    // Callback to calculate "folding the rest"
    $('a#fold_the_rest').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/ajax/range_subtract', {
        original: $('#original').text(),
        subtract_1: $('input[name="passive"]').val(),
        subtract_2: $('input[name="aggressive"]').val(),
        board: $('#board').text()
      }, function(data) {
        $("#fold").val(data.difference);
        $("#fold_size").text((100.0*data.size).toFixed(2));
      });
      return false;
    });
    // Callback to calculate "calling the rest"
    $('a#call_the_rest').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/ajax/range_subtract', {
        original: $('#original').text(),
        subtract_1: $('input[name="fold"]').val(),
        subtract_2: $('input[name="aggressive"]').val(),
        board: $('#board').text()
      }, function(data) {
        $("#passive").val(data.difference);
        $("#passive_size").text((100.0*data.size).toFixed(2));
      });
      return false;
    });
    // Callback to calculate "raising the rest"
    $('a#raise_the_rest').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/ajax/range_subtract', {
        original: $('#original').text(),
        subtract_1: $('input[name="fold"]').val(),
        subtract_2: $('input[name="passive"]').val(),
        board: $('#board').text()
      }, function(data) {
        $("#aggressive").val(data.difference);
        $("#aggressive_size").text((100.0*data.size).toFixed(2));
      });
      return false;
    });
  });
  update_range_editor_url = function() {
    updated = '{{range_editor_url|safe}}';
    updated += '&rng_fold=' + $('#fold').val();
    updated += '&rng_passive=' + $('#passive').val();
    updated += '&rng_aggressive=' + $('#aggressive').val();
    $('#range-editor-url').attr("href", updated);
  };
  validate_form = function() {
    var fold = $('#{{form.fold.id}}').val();
    var passive = $('#{{form.passive.id}}').val();
    var aggressive = $('#{{form.aggressive.id}}').val();
    if (fold.length < 1) {
      alert("You gotta enter a fold range.");
      return false;
    }
    if (passive.length < 1) {
      {% if current_options.can_check() %}
      alert("You gotta enter a check range.");
      {% else %}
      alert("You gotta enter a call range.");
      {% endif %}
      return false;
    }
    {% if current_options.can_raise() -%}
    if (aggressive.length < 1) {
      {% if current_options.is_raise %}
      alert("You gotta enter a raise range.");
      {% else %}
      alert("You gotta enter a bet range.");
      {% endif %}
      return false;
    }
    if (aggressive != 'nothing') {
      {# validate raise total only if raise range specified -#}
      var total = parseInt($('#{{form.total.id}}').val());
      if (isNaN(total)) {
        {% if current_options.is_raise %}
        alert("You gotta enter a raise range.");
        {% else %}
        alert("You gotta enter a bet range.");
        {% endif %}
        return false;
      }
      {# IE doesn't auto-validate these HTML5 elements, so we gotta. -#}
      if (total < {{current_options.min_raise}}) {
        {% if current_options.is_raise %}
        alert("You gotta raise to at least {{current_options.min_raise}}.");
        {% else %}
        alert("You gotta bet at least {{current_options.min_raise}}.");
        {% endif %}
        return false;
      }
      if (total > {{current_options.max_raise}}) {
        {% if current_options.is_raise %}
        alert("You can't raise to more than {{current_options.max_raise}}.");
        {% else %}
        alert("You can't bet more than {{current_options.max_raise}}.");
        {% endif %}
        return false;
      }
    }
    {%- endif %}
    return true;
  };
</script>
{% endblock %}
{% block content %}

<h2>{{title}} - {{game_details.situation.description}}</h2>
{% if game_details.current_round != "Preflop" %}
The board is: <input type=hidden id=board value="{{game_details.board_raw}}">{% for card in board %}<img alt="{{card}}" src="/static/smallcards/{{card}}.png">{% endfor %}<br>
<br>The pot at that start of this round was: <strong>{{game_details.pot_pre}}</strong>.
{% endif %}
<table class="pure-table pure-table-bordered">
<thead>
<tr><td><strong>Player</strong></td><td><strong>Stack</strong></td><td><strong>In the pot</strong></td><td><strong>Status</strong></td></tr>
</thead>
<tbody>
{% for rgp in game_details.rgp_details %}
<tr>
  <td><strong>{{rgp.user.screenname}}</strong></td>
  <td>{{rgp.stack}}</td>
  <td>{{rgp.contributed}}</td>
  <td>
  {% if rgp.user.screenname == game_details.current_player.user.screenname %}
    <em>(acting now)</em>
  {% elif rgp.left_to_act %}
    <em>(still to act)</em>
  {% elif rgp.folded %}
    <em>(folded)</em>
  {% else %}
    <em>(acted)</em>
  {% endif %}
  </td>
</tr>
{% endfor %}
</tbody>
</table>
{% if is_me %}
<form method="post" id="action" name="action" onsubmit="return validate_form();">
{{form.hidden_tag()}}
<p>
  {% for error in form.errors.total %}<span style="color: red;">[{{error}}]</span><br>{% endfor %}
  <a id="range-editor-url" class="pure-button" target="_blank" href="{{range_editor_url}}" onclick="update_range_editor_url()">Range editor</a>
  {% if current_options.can_raise() %}{{form.total.label}} <input id={{form.total.id}} name={{form.total.name}} type=number maxlength=3 size=4 min={{current_options.min_raise}} max={{current_options.max_raise}} value='{{form.total.data}}'> <em>(raise to: {{current_options.min_raise}} - {{current_options.max_raise}})</em>{% endif %}
  <input type="submit" value="Done" class="pure-button"/>
</p>
<details><summary><strong>Raw Ranges</strong></summary>
<p>Current range: <textarea id=original rows="4" cols="50">{{game_details.current_player.range_raw}}</textarea></p>
<p>
  {% for error in form.errors.fold %}<span style="color: red;">[{{error}}]</span><br>{% endfor %}
  {{form.fold.label}} {{form.fold}} (<span id="fold_size">0.00</span>%) <a href="#" id="fold_the_rest">(fold the rest)</a><br>
</p>
<p>
  {% for error in form.errors.passive %}<span style="color: red;">[{{error}}]</span><br>{% endfor %}
  {{form.passive.label}} {{form.passive}} (<span id="passive_size">0.00</span>%) <a href="#" id="call_the_rest">({% if current_options.can_check() %}check{% else %}call{% endif %} the rest)</a> {% if current_options.call_cost != 0 %} <em>(cost to call: {{current_options.call_cost}})</em> {% endif %} <br>
</p>
{% if current_options.can_raise() %}
<p>
  {% for error in form.errors.aggressive %}<span style="color: red;">[{{error}}]</span><br>{% endfor %}
  {{form.aggressive.label}} {{form.aggressive}} (<span id="aggressive_size">0.00</span>%) <a href="#" id="raise_the_rest">({% if current_options.is_raise %}raise{% else %}bet{% endif %} the rest)</a>
</p>
{% endif %}
</details>
</form>
{% endif %}
<details><summary><strong>Hand History</strong></summary>
{{ super() }}
</details>
{% endblock %}