<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    {% if title %}
    <title>{{title}} - Range vs. Range</title>
    {% else %}
    <title>Range vs. Range</title>
    {% endif %}
  </head>
  <body>
    <div><h1><a href="/">Range vs. Range (Prototype)</a></h1></div>
    <div><h2><em>Advanced No Limit Hold'em Training</em></h2></div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <p>
      {% for message in messages %}
      {{message}}<br>
      {% endfor %}
    </p>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <hr>
    <p><a href="https://github.com/RangeVsRange/range-vs-range/">Range vs. Range on GitHub</a></p>
    <div><a href="http://validator.w3.org/check?uri=referer">HTML 5 Validator</a></div>
  </body>
</html>