<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    {% if title %}
    <title>{{title}} - Range vs. Range</title>
    {% else %}
    <title>Range vs. Range</title>
    {% endif %}
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='js/jquery.js') }}">\x3C/script>')</script>
    <script type=text/javascript>
  $(function() {
    // Call blockchain.info for total donated.
    $.getJSON($SCRIPT_ROOT + '/ajax/total_donated',
              {},
              function(response) {
                $('#donated').text((response.total_received / 100000000.0).toFixed(8));
              });
  });
    </script>
    {% block scripts %}{% endblock %}
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">    
    <style>
    .r_hdn { }
    .r_sel { background-color: #C0C0C0 !important; }
    .r_una { background-color: #FFFFFF; }
    .r_fol { background-color: #FF0000; }
    .r_pas { background-color: #FFFF00; }
    .r_agg { background-color: #00FF00; }
    .r_mix { background-color: #8080FF; }
    .s_hdn { }
    .s_sel { background-color: #C0C0C0 !important; }
    .wide { padding:15px; }    
    </style>
  </head>
  <body>
    <div><h1><a href="{{ url_for('home_page') }}">Range vs. Range (Prototype)</a></h1></div>
    <div><h2><em>Advanced No Limit Hold'em Training</em></h2></div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <p>
      {% for message in messages %}
      {{message}}<br>
      {% endfor %}
    </p>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <hr>
    <table>
    <tr>
      <td class=wide><a href="http://validator.w3.org/check?uri=referer">Validate HTML 5</a></td>
      <td class=wide><a href="https://github.com/RangeVsRange/range-vs-range/">Range vs. Range on GitHub</a></td>
      <td class=wide><a href="http://rangevsrange.wordpress.com/advanced-training-example/">The website for the existing client/server version</a></td>
      <td class=wide><a href="/logout">Log out</a></td>
    </tr>
    </table>
    <table>
    <tr><td>Show your support: <a href="https://blockchain.info/address/1RvRE1XPTboTfujU9dRK9euC6TPnGHzKf">1RvRE1XPTboTfujU9dRK9euC6TPnGHzKf</a>&nbsp;&nbsp;|&nbsp;&nbsp;<span id=donated>Updating</span> BTC donated so far&nbsp;&nbsp;|&nbsp;&nbsp;Guy Upstairs started this project on December 5, 2010.</td></tr>
    </table>
  </body>
</html>
