{% extends "base.html" %}
{% block content %}
<h2>Create Game Confirmation Page</h2>
<p>It may take some time for your opponent to make a move in this game. Range vs. Range will send you an email when it's your turn. You can also wait online and start playing as soon as it's your turn.</p>
<form method="post" name="create" action="{{ url_for('confirm_situation_page') }}">
  {{form.hidden_tag()}}
  <p>
    {% for error in form.errors.email %}
    <p><span style="color: red;">{{error}}</span></p>
    {% endfor %}
    {{form.email.label}} {{form.email}}
  </p>
  <p><input type="submit" value="Play now!" /></p>
</form>
<hr>
<p>Or you can <a href="{{ url_for('open_games_page', path='postflop', situationid=situationid, textureid=textureid) }}">Browse Open Games</a> and choose from one of {{matching_games}} <strong>"{{situation}}"</strong> games waiting to start!</p>
{% endblock %}
