{% extends "base.html" %}
{% block content %}
<script type=text/javascript>
  $(function() {
    // Callback to calculate "folding the rest"
    $('a#fold_the_rest').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/ajax/range_subtract', {
        original: $('#original').text(),
        subtract_1: $('input[name="passive"]').val(),
        subtract_2: $('input[name="aggressive"]').val()
      }, function(data) {
        $("#fold").val(data.difference);
      });
      return false;
    });
    // Callback to calculate "calling the rest"
    $('a#call_the_rest').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/ajax/range_subtract', {
        original: $('#original').text(),
        subtract_1: $('input[name="fold"]').val(),
        subtract_2: $('input[name="aggressive"]').val()
      }, function(data) {
        $("#passive").val(data.difference);
      });
      return false;
    });
    // Callback to calculate "raising the rest"
    $('a#raise_the_rest').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/ajax/range_subtract', {
        original: $('#original').text(),
        subtract_1: $('input[name="fold"]').val(),
        subtract_2: $('input[name="passive"]').val()
      }, function(data) {
        $("#aggressive").val(data.difference);
      });
      return false;
    });
  });
</script>

<h2>{{title}}</h2>

<p>The game is: <strong>{{game_details.situation.description}}</strong>.</p>

<p>The current betting round is: <strong>{{game_details.current_round}}</strong>.<br>
{% if game_details.current_round != "preflop" %}
The board is: <strong>{{game_details.board_raw}}</strong><br>
The pot at that start of this round was: <strong>{{game_details.pot_pre}}</strong>.</p>
{% endif %}

<p>The players are seated as follows:
<table>
<tr><td></td><td><strong>Stack</strong></td><td><strong>In the pot</strong></td></tr>
{% for rgp in game_details.rgp_details %}
<tr>
  <td><strong>{{rgp.user.screenname}}</strong></td>
  <td>{{rgp.stack}}</td>
  <td>{{rgp.contributed}}</td>
  <td>
  {% if rgp.user.screenname == game_details.current_player.user.screenname %}
    <em>(acting now)</em>
  {% elif rgp.left_to_act %}
    <em>(still to act)</em>
  {% elif rgp.folded %}
    <em>(folded)</em>
  {% else %}
    <em>(acted)</em>
  {% endif %}
  </td>
</tr>
{% endfor %}
</table></p>

{% if is_me %}
<p>
Your range: <span id=original>{{game_details.current_player.range_raw}}</span><br>
<form method="post" name="action">
  {{form.hidden_tag()}}
  {% for error in form.errors.fold %}<span style="color: red;">[{{error}}]</span><br>{% endfor %}
  {{form.fold.label}} {{form.fold}} <a href="#" id="fold_the_rest">(fold the rest)</a><br>
  {% for error in form.errors.passive %}<span style="color: red;">[{{error}}]</span><br>{% endfor %}
  {{form.passive.label}} {{form.passive}} <a href="#" id="call_the_rest">(call the rest)</a> {% if current_options.call_cost != 0 %} <em>(cost to call: {{current_options.call_cost}})</em> {% endif %} <br>
{% if current_options.can_raise() %}
  {% for error in form.errors.aggressive %}<span style="color: red;">[{{error}}]</span><br>{% endfor %}
  {% for error in form.errors.total %}<span style="color: red;">[{{error}}]</span><br>{% endfor %}
  {{form.aggressive.label}} {{form.aggressive}} <a href="#" id="raise_the_rest">(raise the rest)</a>
  {{form.total.label}} {{form.total}} <em>(raise to: {{current_options.min_raise}} - {{current_options.max_raise}})</em><br>
{% endif %}
  <input type="submit" value="Go!" /><br>
</form>
</p>
{% endif %}

<p>The game so far:<ul>{% for item in history %}
  <li>{{item}}</li>
{% endfor %}
{% if not history %}
  <li>Nothing, yet.</li>
{% endif %}
</ul></p>

{% endblock %}