{% extends "base.html" %}
{% block content %}
<h2>{{title}}</h2>

<p>Players in this game:
{% set pipe = joiner() %}
{% for rgp in game_details.rgp_details %}{{pipe()}}<strong>{{rgp.user.screenname}}</strong>{% endfor %}.
It is <strong>{{game_details.current_user.screenname}}</strong>'s turn to act.</p>

<p>Game description: <strong>{{game_details.situation.description}}</strong>.</p>

<p>The game so far:<ul>{% for item in history %}
  <li>{{item}}</li>
{% endfor %}</ul></p>

{% endblock %}