{% extends "base.html" %}
{% block content %}
<h2>{{title}}</h2>

<p>The game is: <strong>{{game_details.situation.description}}</strong>.</p>

<p>The current betting round is: <strong>{{game_details.current_round}}</strong>.<br>
{% if game_details.current_round != "preflop" %}
The board is: <strong>{{game_details.board}}</strong>.<br>
The pot at that start of this round was: <strong>{{game_details.pot_pre}}</strong>.</p>
{% endif %}

<p>The players are seated as follows:
<table>
<tr><td></td><td><strong>Stack</strong></td><td><strong>In the pot</strong></td></tr>
{% for rgp in game_details.rgp_details %}
<tr>
  <td><strong>{{rgp.user.screenname}}</strong></td>
  <td>{{rgp.stack}}</td>
  <td>{{rgp.contributed}}</td>
  <td>
  {% if rgp.user.screenname == game_details.current_user.screenname %}
    <em>(acting now)</em>
  {% elif rgp.left_to_act %}
    <em>(still to act)</em>
  {% elif rgp.folded %}
    <em>(folded)</em>
  {% else %}
    <em>(acted)</em>
  {% endif %}
  </td>
</tr>
{% endfor %}
</table></p>

<p><strong>{{game_details.current_user.screenname}}</strong>'s options:<ul>
{% if current_options.can_fold() %}<li>Fold</li>{% endif %}
{% if current_options.can_check() %}<li>Check</li>
{% else %}<li>Call <strong>{{current_options.call_cost}}</strong></li>{% endif %}
{% if current_options.can_raise() %}<li>Raise to between <strong>{{current_options.min_raise}}</strong> and <strong>{{current_options.max_raise}}</strong></li>{% endif %}
</ul></p>

<p>The game so far:<ul>{% for item in history %}
  <li>{{item}}</li>
{% endfor %}
{% if not history %}
  <li>Nothing, yet.</li>
{% endif %}
</ul></p>

{% endblock %}