{% extends 'base.html' %}
{% block scripts %}
<style>
#history {
    width:100%;
}
#history-left {
    width:50%;
    float:left;
}
#history-right {
    width:50%;
    float:right;
}
</style>
<script type=text/javascript>
$(function() {
    left_height = $('#history-left').height();
    $('#viewer').height(left_height);
});
</script>
<script type=text/javascript>
range_view = function(button_id, ori, fol, pas, agg, is_check, is_raise) {
    url = $SCRIPT_ROOT + '/range-editor?embedded=true&rng_unassigned=nothing&rng_original=' + encodeURIComponent(ori) + '&rng_fold=' + encodeURIComponent(fol) + '&rng_passive=' + encodeURIComponent(pas) + '&rng_aggressive=' + encodeURIComponent(agg) + '&raised=' + encodeURIComponent(is_raise) + '&can_check=' + encodeURIComponent(is_check);
    $('#viewer').attr('src', url);
    $('button').each(function() {
        $(this).toggleClass('r_sel', false);
    });
    $('#' + button_id).toggleClass('r_sel', true);
};
</script>
{% endblock %}
{% block content %}
<div id="history">
<div id="history-left">
<table style="width:100%">
{% for hint, item in history %}
  <tr style="border-style: solid; border-width: 1px">
    <td>
    {% if hint == "ACTION_SUMMARY" %}
      <strong>{{item.screenname}}
      {% set result = item.action_result %}
      {% if result.is_fold %}folds
      {%- elif result.is_passive and result.call_cost %}calls {{result.call_cost}}
      {%- elif result.is_passive %}checks
      {%- elif result.is_aggressive and result.is_raise %}raises to {{result.raise_total}}
      {%- elif result.is_aggressive %}bets {{result.raise_total}}
      {%- else %}does something inexplicable
      {%- endif %},</strong>
      with {{item.combos}} combos ({{"%0.2f" % item.percent}}% of all possible hands) 
    {% elif hint == "RANGE_ACTION" %}
      {{item[0]}}
      folds {{"%0.2f" % item[1]}}%,
      {% if item[9] %}checks{% else %}calls{% endif %} {{"%0.2f" % item[2]}}%,
      {% if item[10] %}raises{% else %}bets{% endif %} {{"%0.2f" % item[3]}}%
      (to total {{item[4]}})
    {% elif hint == "BOARD" %}
      {{item[0]}}: {% for card in item[1] %}<img alt="{{card}}" src="/static/smallcards/{{card}}.png">{% endfor %}
    {% else %}
      {{item[0]}}
    {% endif %}
    </td>
    <td>
    {% if hint == "RANGE_ACTION" %}
    <button type=button id="view-action-{{item[11]}}" class="pure-button" onclick="range_view('view-action-{{item[11]}}', '{{item[5]}}', '{{item[6]}}', '{{item[7]}}', '{{item[8]}}', {{item[9]|tojson}}, {{item[10]|tojson}});">View</button>
    {% elif hint == "ACTION_SUMMARY" %}
    <button type=button id="view-action-{{item.index}}" class="pure-button" onclick="range_view('view-action-{{item.index}}', '{{item.original}}', '{{item.fold}}', '{{item.passive}}', '{{item.aggressive}}', {{item.is_check|tojson}}, {{item.is_raise|tojson}});">View</button>
    {% endif %}
    </td>
  </tr>
{% endfor %}
</table>
{% if not history %}
  <ul><li>Nothing, yet.</li></ul>
{% endif %}
</ul>
</div>
<div id="history-right" style="height:600px">
<iframe id="viewer" src="/range-editor?embedded=true&rng_unassigned=nothing&rng_original=nothing" width="100%" seamless style="border: 0px none transparent;">Your browser does not support iframes, sorry.</iframe>
</div>
</div>
{% endblock %}