{% extends "base.html" %}
{% block content %}
<h2>Home</h2>
<p>You are logged in as: <strong>{{screenname}}</strong>.
 You can change your screenname, <a href="{{ url_for('change_screenname') }}">here</a>.</p>

{% if others_open %}
  <p>Open games you can join:</p>
  <ul>{% for game in others_open %}{% set pipe = joiner() %}
    <li>Game {{game.gameid}}, <em>"{{game.description}}"</em>
    {% if game.users %}
      with players: {% for user in game.users %}{{pipe()}}<strong>{{user.screenname}}</strong>{% endfor %}.
    {% else %}
      with no players registered.
    {% endif %}</li>
  {% endfor %}</ul>
{% endif %}

{% if my_open %}
  <p>Open games you're registered in:</p>
  <ul>{% for game in my_open %}{% set pipe = joiner() %}
    <li>Game {{game.gameid}}, <em>"{{game.description}}"</em> with players:
    {% for user in game.users %}{{pipe()}}<strong>{{user.screenname}}</strong>{% endfor %}.</li>
  {% endfor %}</ul>
{% endif %}

{% if my_turn_games %}
  <p>Games where it's your turn:</p>
  <ul>{% for game in my_turn_games %}{% set pipe = joiner() %}
    <li>Game {{game.gameid}}, <em>"{{game.description}}"</em> with players:
    {% for user in game.users %}{{pipe()}}<strong>{{user.screenname}}</strong>{% endfor %}.</li>
  {% endfor %}</ul>
{% endif %}

{% if others_turn_games %}
  <p>Games where it's not your turn:</p>
  <ul>{% for game in others_turn_games %}{% set pipe = joiner() %}
    <li>Game {{game.gameid}}, <em>"{{game.description}}"</em> with players:
    {% for user in game.users %}{{pipe()}}<strong>{{user.screenname}}</strong>{% endfor %}.</li>
  {% endfor %}</ul>
{% endif %}

{% if finished_games %}
  <p>Games you've played:</p>
  <ul>{% for game in finished_games %}{% set pipe = joiner() %}
    <li>Game {{game.gameid}}, <em>"{{game.description}}"</em> with players:
    {% for user in game.users %}{{pipe()}}<strong>{{user.screenname}}</strong>{% endfor %}.</li>
  {% endfor %}</ul>
{% endif %}

{% endblock %}