{% extends "base.html" %}
{% block content %}
<h2>Open Games Page</h2>
<p>Get started immediately with one of the following open games:</p>
<form>
<p>
{% for game in games %}
<input type="radio" name="game" id="id{{game.gameid}}" value="{{game.gameid}}" />
<label for="id{{game.gameid}}">{{game.description}}</label>
<br>
{% endfor %}
</p>
<p><input type="submit" value="Go!" /><em> (will take the user to the <a href="/confirm-join">Confirmation Page</a>)</em></p>
</form>
{% endblock %}