{% extends "base.html" %}
{% block content %}
<h2>Range Editor</h2>
<form>
<table>
<tr>
<td><!-- First row: board; 4 x range; bet/raise total -->
 <table>
 <tr>
 <td>
  board
 </td>
 <td>
  4 x range
 </td>
 <td>
  bet/raise total
 </td>
 </tr>
 </table>
</td>
</tr>
<tr><!-- Second row: selected hands; rank combos; suit combos -->
<td>
 <table>
 <tr>
 <td>
  selected hands
 </td>
 <td>
  rank combos
 </td>
 <td>
  suit combos
 </td>
 </tr>
 </table>
</td>
</tr>
<tr><!-- Third row: Go! button (submit form) -->
<td>
<input type=submit name=complete value="Done" />
</td>
</tr>
</table>
</form>
{% endblock %}