{% extends "base.html" %}
{% block scripts %}
<script type=text/javascript>
$MIN_RAISE = Number({{min_raise}});
$MAX_RAISE = Number({{max_raise}});
$CAN_RAISE = '{{can_raise}}' == 'true';
next_map = {{ next_map|safe }};
rank_select = function(_id) {
  $('#' + _id).toggleClass('r_sel');
  $('#sel_' + _id).val($('#' + _id).hasClass('r_sel'));
}
rank_set = function(_id, _val) {
  $('#' + _id).toggleClass('r_sel', _val);
  $('#sel_' + _id).val(_val);
}
rank_click = function(_id) {
  if (window.event.ctrlKey) {
    rank_select(_id);
    var _val = $('#' + _id).hasClass('r_sel')
    while (_id in next_map) {
      _id = next_map[_id]
      rank_set(_id, _val);
    }
  } else {
    rank_select(_id);
  }
};
suit_click = function(_id) {
  $('#' + _id).toggleClass('s_sel');
  $('#sel_' + _id).val($('#' + _id).hasClass('s_sel'));
};
select_all_rank = function(select) {
  $('.rank-button').toggleClass('r_sel', select);
  $('.r_h').val(select);
};
select_all_suit = function(select) {
  $('.suit-button').toggleClass('s_sel', select);
  $('.s_h').val(select);
};
post_to_parent = function(raise_total) {
  var doc = window.opener.document;
  var fold = doc.getElementById("fold");
  var passive = doc.getElementById("passive");
  var aggressive = doc.getElementById("aggressive");
  var total = doc.getElementById("total");
  fold.value = "{{ rng_fold }}";
  passive.value = "{{ rng_passive }}";
  aggressive.value = "{{ rng_aggressive }}";
  if ($CAN_RAISE) {
    total.value = raise_total;
  }
  form = doc.getElementById("action");
  form.submit();
  window.close();
};
populate_parent = function() {
  var t;
  if ($CAN_RAISE) {
    t = parseInt($('#raise-total').val());
    if (isNaN(t)) {
      alert("You gotta specify a raise amount.");
      return false;
    }
    if (t < $MIN_RAISE) {
      alert("You gotta raise to at least " + $MIN_RAISE + ".");
      return false;
    }
    if (t > $MAX_RAISE) {
      alert("You can't raise to more than " + $MAX_RAISE + ".");
      return false;
    }
  }
  post_to_parent(t);
  return false;
};
</script>
<style>
    button.rank-button { width:40px; height:40px; text-align:center; padding-left:0; padding-right:0 } 
    button.hidden-button { background-color: #FFFFFF; width:40px; height:40px; text-align:center; padding-left:0; padding-right:0 }
    a.suit-button { background-color: #FFFFFF; width:40px; padding-left:5px; padding-right:5px; padding-top:10px; padding-bottom:10px }
</style>
{% endblock %}
{% block content %}
<h2>Range Editor</h2>
<form id='form-ignore' onsubmit="return populate_parent();"></form>
<form action='{{url_for('range_editor')}}' method=post>
{% for item in hidden_fields %}<input type=hidden name="{{item[0]}}" value="{{item[1]}}">
{% endfor %}
{% if rng_unassigned == 'nothing' %}
<p>You've assigned your whole range. Here's the result:</p>
<p>Fold: {{rng_fold}}</p>
<p>{% if can_check == "true" %}Check{% else %}Call{% endif %}: {{rng_passive}}</p>
{% if can_raise == 'true' %}<p>{% if raised == "true" %}Raise{% else %}Bet{% endif %}: {{rng_aggressive}}</p>{% endif %}
<p>
{% if can_raise == 'true' %}
  <label for="raise-total">Now you just need to decide {% if raised == "true" %}what to raise to{% else %}how much to bet{% endif %}: </label>
  <input type=number form='form-ignore' id='raise-total' type=number maxlength=3 size=4 min={{min_raise}} max={{max_raise}}> <em>({% if raised == "true" %}raise to{% else %}bet{% endif %} {{min_raise}} - {{max_raise}})</em>, then click here:
{% endif %}
<button type=submit form='form-ignore' type=submit class="pure-button">Done</button>
</p>
<hr>
{% endif %}
<table>
<tr>
<td><!-- First row: board; 4 x range; bet/raise total -->
 <table>
 <tr>
 <td class=wide>
<!-- Start Board -->
  {% for name in card_names %}
  <img alt="" style="vertical-align:middle" src="/static/cards/{{name}}.png">
  {% endfor %}
<!-- End Board -->
 </td>
 <td class=wide>
<!-- Start 4 x Range -->
  <table>
   <tr><td>Unassigned</td></tr>
   <tr><td>{{ '%0.2f' % pct_unassigned }}%</td></tr>
   <tr><td><input type=checkbox id=l_una name=l_una {% if l_una %}checked=checked{% endif %}><label for=l_una>Lock</label></td></tr>
   <tr><td><button type=submit name=submit value="reset">(Reset)</button></td></tr>
  </table>
 </td>
 <td class=wide>
  <table>
   <tr><td>Fold range</td></tr>
   <tr><td>{{ '%0.2f' % pct_fold }}%</td></tr>
   <tr><td><input type=checkbox id=l_fol name=l_fol {% if l_fol %}checked=checked{% endif %}><label for=l_fol>Lock</label></td></tr>
   <tr><td><button type=submit name=submit value="fold">Fold</button></td></tr>
  </table>
 </td>
 <td class=wide>
  <table>
   <tr><td>{% if can_check == "true" %}Check range{% else %}Call range{% endif %}</td></tr>
   <tr><td>{{ '%0.2f' % pct_passive }}%</td></tr>
   <tr><td><input type=checkbox id=l_pas name=l_pas {% if l_pas %}checked=checked{% endif %}><label for=l_pas>Lock</label></td></tr>
   <tr><td><button type=submit name=submit value="passive">{% if can_check == "true" %}Check{% else %}Call{% endif %}</button></td></tr>
  </table>
 </td>
 <td class=wide>
  {% if can_raise == 'true' %}
  <table>
   <tr><td>{% if raised == "true" %}Raise range{% else %}Bet range{% endif %}</td></tr>
   <tr><td>{{ '%0.2f' % pct_aggressive }}%</td></tr>
   <tr><td><input type=checkbox id=l_agg name=l_agg {% if l_agg %}checked=checked{% endif %}><label for=l_agg>Lock</label></td></tr>
   <tr><td><button type=submit name=submit value="aggressive">{% if raised == "true" %}Raise{% else %}Bet{% endif %}</button></td></tr>
  </table>
  {% endif %}
 </td>
<!-- End 4 x Range -->
 </tr>
 </table>
</td>
</tr>
<tr><!-- Second row: selected hands; rank combos; suit combos -->
<td>
 <table>
 <tr>
<!-- Start Selected Hands
 <td class=wide>
  Selected hands:<br>
  <table>
   <tr><td>AQo</td></tr>
   <tr><td>AQs</td></tr>
   <tr><td>87o-84o</td></tr>
   <tr><td>AA-22</td></tr>
  </table>
 </td>
End Selected Hands -->
 <td class=wide>
  Select rank combos: <a class="pure-button" onclick="select_all_rank(false)">None</a> <a class="pure-button" onclick="select_all_rank(true)">All</a> <em>tip: try ctrl-click, or hover</em><br>
<!-- Start Rank Combos -->
  <table>
   {% for row in rank_table %}<tr>
    {% for details in row %}
    <td>{% if details.class != "r_hdn" %}<div title="{{details.hover}}"><button type=button id="{{details.id}}" class="{{details.class}} rank-button pure-button" onclick="rank_click('{{details.id}}');">{{details.text}}</button></div><input type=hidden class="r_h" id="sel_{{details.id}}" name="sel_{{details.id}}" value="false">{% else %}<button type=button id="{{details.id}}" class="{{details.class}} hidden-button pure-button" disabled=disabled>&nbsp;</button>{% endif %}</td>
    {% endfor %}
   </tr>{% endfor %}
  </table>
<!-- End Rank Combos -->
 </td>
 <td class=wide>
<!-- Start Suit Combos -->
  <table>
   <tr>
    <td colspan=4>Select suited combos:</td>
   </tr>
   <tr>
    <td colspan=2><button type=button class="pure-button" style="width:100%" onclick="select_all_suit(false)">None</button></td><td colspan=2><button type=button class="pure-button" style="width:100%" onclick="select_all_suit(true)">All</button></td>
   </tr>
   {% for row in suited_table %}
   <tr>
    {% for details in row %}
    <td>{% if details.class != "s_hdn" %}<div title="{{details.hover}}"><a class="{{details.class}} suit-button pure-button" id="{{details.id}}" onclick="suit_click('{{details.id}}');"><img alt="" style="vertical-align:middle" src="/static/suits/{{details.left}}.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/{{details.right}}.svg" width=20 height=20></a></div><input type=hidden id="sel_{{details.id}}" name="sel_{{details.id}}" class="s_h" value="true">{% endif %}</td>
    {% endfor %}
   </tr>
   {% endfor %}
   <tr>
    <td colspan=4>Select pair combos:</td>
   </tr>
   {% for row in pair_table %}
   <tr>
    {% for details in row %}
    <td>{% if details.class != "s_hdn" %}<div title="{{details.hover}}"><a class="{{details.class}} suit-button pure-button" id="{{details.id}}" onclick="suit_click('{{details.id}}');"><img alt="" style="vertical-align:middle" src="/static/suits/{{details.left}}.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/{{details.right}}.svg" width=20 height=20></a></div><input type=hidden id="sel_{{details.id}}" name="sel_{{details.id}}" class="s_h" value="true">{% endif %}</td>
    {% endfor %}
   </tr>
   {% endfor %}
   <tr>
    <td colspan=4>Select offsuit combos:</td>
   </tr>
   {% for row in offsuit_table %}
   <tr>
    {% for details in row %}
    <td>{% if details.class != "s_hdn" %}<div title="{{details.hover}}"><a class="{{details.class}} suit-button pure-button" id="{{details.id}}" onclick="suit_click('{{details.id}}');"><img alt="" style="vertical-align:middle" src="/static/suits/{{details.left}}.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/{{details.right}}.svg" width=20 height=20></a></div><input type=hidden id="sel_{{details.id}}" name="sel_{{details.id}}" class="s_h" value="true">{% endif %}</td>
    {% endfor %}
   </tr>
   {% endfor %}
  </table>
<!-- End Suit Combos -->
 </td>
 </tr>
 </table>
</td>
</tr>
</table>
</form>
{% endblock %}