{% extends "base.html" %}
{% block content %}
<h2>Range Editor</h2>
<form>
<table style="white-space:nowrap">
<tr>
<td><!-- First row: board; 4 x range; bet/raise total -->
 <table>
 <tr>
 <td>
<!-- Start Board -->
  <img alt="" style="vertical-align:middle" src="/static/cards/Js.png">
  <img alt="" style="vertical-align:middle" src="/static/cards/Ac.png">
  <img alt="" style="vertical-align:middle" src="/static/cards/Qd.png">
  <img alt="" style="vertical-align:middle" src="/static/cards/Ts.png">
  <img alt="" style="vertical-align:middle" src="/static/cards/Kh.png">
<!-- End Board -->
 </td>
 <td>
<!-- Start 4 x Range -->
  4 x range
<!-- End 4 x Range -->
<!-- Start Raise Total -->
  bet/raise total
<!-- End Raise Total -->
 </td>
 </tr>
 </table>
</td>
</tr>
<tr><!-- Second row: selected hands; rank combos; suit combos -->
<td>
 <table>
 <tr>
 <td>
<!-- Start Selected Hands -->
  selected hands
<!-- End Selected Hands -->
 </td>
 <td>
<!-- Start Rank Combos -->
  <table border="1px">
   <tr>
    <td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td>
   </tr>
   <tr>
    <td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td>
   </tr>
   <tr>
    <td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td>
   </tr>
   <tr>
    <td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td>
   </tr>
   <tr>
    <td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td>
   </tr>
   <tr>
    <td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td>
   </tr>
   <tr>
    <td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td>
   </tr>
   <tr>
    <td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td>
   </tr>
   <tr>
    <td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td>
   </tr>
   <tr>
    <td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td>
   </tr>
   <tr>
    <td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td>
   </tr>
   <tr>
    <td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td>
   </tr>
   <tr>
    <td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td><td>AQs</td>
   </tr>
  </table>
<!-- End Rank Combos -->
 </td>
 <td>
<!-- Start Suit Combos -->
  <table style="white-space:nowrap" border="1px">
   <tr>
    <td colspan=4>Select suited combos:</td>
   </tr>
   <tr style="height:30px">
    <td style="width:25%"><img alt="" style="vertical-align:middle" src="/static/suits/s.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/s.svg" width=20 height=20></td><td style="width:25%"></td><td style="width:25%"></td><td style="width:25%"></td>
   </tr>
   <tr style="height:30px">
    <td style="width:25%"></td><td style="width:25%"><img alt="" style="vertical-align:middle" src="/static/suits/h.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/h.svg" width=20 height=20></td><td style="width:25%"></td><td style="width:25%"></td>
   </tr>
   <tr style="height:30px">
    <td style="width:25%"></td><td style="width:25%"></td><td style="width:25%"><img alt="" style="vertical-align:middle" src="/static/suits/d.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/d.svg" width=20 height=20></td><td style="width:25%"></td>
   </tr>
   <tr style="height:30px">
    <td style="width:25%"></td><td style="width:25%"></td><td style="width:25%"></td><td style="width:25%"><img alt="" style="vertical-align:middle" src="/static/suits/c.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/c.svg" width=20 height=20></td>
   </tr>
   <tr>
    <td colspan=4>Select pairs combos:</td>
   </tr>
   <tr style="height:30px">
    <td style="width:25%"></td><td style="width:25%"><img alt="" style="vertical-align:middle" src="/static/suits/s.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/h.svg" width=20 height=20></td><td style="width:25%"><img alt="" style="vertical-align:middle" src="/static/suits/s.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/d.svg" width=20 height=20></td><td style="width:25%"><img alt="" style="vertical-align:middle" src="/static/suits/s.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/c.svg" width=20 height=20></td>
   </tr>
   <tr style="height:30px">
    <td style="width:25%"></td><td style="width:25%"></td><td style="width:25%"><img alt="" style="vertical-align:middle" src="/static/suits/h.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/d.svg" width=20 height=20></td><td style="width:25%"><img alt="" style="vertical-align:middle" src="/static/suits/h.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/c.svg" width=20 height=20></td>
   </tr>
   <tr style="height:30px">
    <td style="width:25%"></td><td style="width:25%"></td><td style="width:25%"></td><td style="width:25%"><img alt="" style="vertical-align:middle" src="/static/suits/d.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/c.svg" width=20 height=20></td>
   </tr>
   <tr>
    <td colspan=4>Select offsuit combos:</td>
   </tr>
   <tr style="height:30px">
    <td style="width:25%"></td><td style="width:25%"><img alt="" style="vertical-align:middle" src="/static/suits/s.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/h.svg" width=20 height=20></td><td style="width:25%"><img alt="" style="vertical-align:middle" src="/static/suits/s.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/d.svg" width=20 height=20></td><td style="width:25%"><img alt="" style="vertical-align:middle" src="/static/suits/s.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/c.svg" width=20 height=20></td>
   </tr>
   <tr style="height:30px">
    <td style="width:25%"><img alt="" style="vertical-align:middle" src="/static/suits/h.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/s.svg" width=20 height=20></td><td style="width:25%"></td><td style="width:25%"><img alt="" style="vertical-align:middle" src="/static/suits/h.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/d.svg" width=20 height=20></td><td style="width:25%"><img alt="" style="vertical-align:middle" src="/static/suits/h.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/c.svg" width=20 height=20></td>
   </tr>
   <tr style="height:30px">
    <td style="width:25%"><img alt="" style="vertical-align:middle" src="/static/suits/d.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/s.svg" width=20 height=20></td><td style="width:25%"><img alt="" style="vertical-align:middle" src="/static/suits/d.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/h.svg" width=20 height=20></td><td style="width:25%"></td><td style="width:25%"><img alt="" style="vertical-align:middle" src="/static/suits/d.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/c.svg" width=20 height=20></td>
   </tr>
   <tr style="height:30px">
    <td style="width:25%"><img alt="" style="vertical-align:middle" src="/static/suits/c.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/s.svg" width=20 height=20></td><td style="width:25%"><img alt="" style="vertical-align:middle" src="/static/suits/c.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/h.svg" width=20 height=20></td><td style="width:25%"><img alt="" style="vertical-align:middle" src="/static/suits/c.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/d.svg" width=20 height=20></td><td style="width:25%"></td>
   </tr>
   <tr>
    <td colspan=2><button style="width:100%">None</button></td><td colspan=2><button style="width:100%">All</button></td>
   </tr>
  </table>
<!-- End Suit Combos -->
 </td>
 </tr>
 </table>
</td>
</tr>
<tr><!-- Third row: Go! button (submit form) -->
 <td style="text-align:center;">
 <input type=submit name=complete value="Done" />
 </td>
</tr>
</table>
</form>
{% endblock %}