{% extends "history.html" %}
{% block scripts %}
{{ super() }}
<script type=text/javascript>
  $(function() {
    // Callback to calculate "folding the rest"
    $('a#fold_the_rest').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/ajax/range_subtract', {
        original: $('#original').text(),
        subtract_1: $('input[name="passive"]').val(),
        subtract_2: $('input[name="aggressive"]').val(),
        board: $('#board').text()
      }, function(data) {
        $("#fold").val(data.difference);
        $("#fold_size").text((100.0*data.size).toFixed(2));
      });
      return false;
    });
    // Callback to calculate "calling the rest"
    $('a#call_the_rest').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/ajax/range_subtract', {
        original: $('#original').text(),
        subtract_1: $('input[name="fold"]').val(),
        subtract_2: $('input[name="aggressive"]').val(),
        board: $('#board').text()
      }, function(data) {
        $("#passive").val(data.difference);
        $("#passive_size").text((100.0*data.size).toFixed(2));
      });
      return false;
    });
    // Callback to calculate "raising the rest"
    $('a#raise_the_rest').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/ajax/range_subtract', {
        original: $('#original').text(),
        subtract_1: $('input[name="fold"]').val(),
        subtract_2: $('input[name="passive"]').val(),
        board: $('#board').text()
      }, function(data) {
        $("#aggressive").val(data.difference);
        $("#aggressive_size").text((100.0*data.size).toFixed(2));
      });
      return false;
    });
  });
  update_range_editor_url = function() {
    updated = '{{range_editor_url|safe}}';
    updated += '&rng_fold=' + $('#fold').val();
    updated += '&rng_passive=' + $('#passive').val();
    updated += '&rng_aggressive=' + $('#aggressive').val();
    $('#range-editor-url').attr("href", updated);
  };
  validate_form = function() {
    {% if current_options.can_raise() %}
      var t = parseInt($('#{{form.total.id}}').val());
      if (isNaN(t)) {
        alert("You gotta specify a raise amount.");
        return false;
      }
      {# IE doesn't auto-validate these HTML5 elements, so we gotta. #}
      if (t < {{current_options.min_raise}}) {
        alert("You gotta raise to at least {{current_options.min_raise}}.");
        return false;
      }
      if (t > {{current_options.max_raise}}) {
        alert("You can't raise to more than {{current_options.max_raise}}.");
        return false;
      }
    {% endif %}
    return true;
  };
</script>
{% endblock %}
{% block content %}

<h2>{{title}}</h2>

<p>The game is: <strong>{{game_details.situation.description}}</strong>.
{% if game_details.current_round != "Preflop" %}
<br>The board is: <input type=hidden id=board value="{{game_details.board_raw}}">{% for card in board %}<img alt="{{card}}" src="/static/smallcards/{{card}}.png">{% endfor %}<br>
<br>The pot at that start of this round was: <strong>{{game_details.pot_pre}}</strong>.
{% endif %}
<br>The players are seated as follows:
<table border=1>
<tr><td class=wide></td><td class=wide><strong>Stack</strong></td><td class=wide><strong>In the pot</strong></td><td class=wide></td></tr>
{% for rgp in game_details.rgp_details %}
<tr>
  <td class=wide><strong>{{rgp.user.screenname}}</strong></td>
  <td class=wide>{{rgp.stack}}</td>
  <td class=wide>{{rgp.contributed}}</td>
  <td class=wide>
  {% if rgp.user.screenname == game_details.current_player.user.screenname %}
    <em>(acting now)</em>
  {% elif rgp.left_to_act %}
    <em>(still to act)</em>
  {% elif rgp.folded %}
    <em>(folded)</em>
  {% else %}
    <em>(acted)</em>
  {% endif %}
  </td>
</tr>
{% endfor %}
</table></p>
{% if is_me %}
<form method="post" id="action" name="action" onsubmit="return validate_form();">
{{form.hidden_tag()}}
<p>
  {% for error in form.errors.total %}<span style="color: red;">[{{error}}]</span><br>{% endfor %}
  <a id="range-editor-url" class="pure-button" target="_blank" href="{{range_editor_url}}" onclick="update_range_editor_url()">Range editor</a>
  {% if current_options.can_raise() %}{{form.total.label}} <input id={{form.total.id}} name={{form.total.name}} type=number maxlength=3 size=4 min={{current_options.min_raise}} max={{current_options.max_raise}}> <em>(raise to: {{current_options.min_raise}} - {{current_options.max_raise}})</em>{% endif %}
  <input type="submit" value="Done" class="pure-button"/>
</p>
<details><summary><strong>Raw Ranges</strong></summary>
<p>Current range: <textarea id=original rows="4" cols="50">{{game_details.current_player.range_raw}}</textarea></p>
<p>
  {% for error in form.errors.fold %}<span style="color: red;">[{{error}}]</span><br>{% endfor %}
  {{form.fold.label}} {{form.fold}} (<span id="fold_size">0.00</span>%) <a href="#" id="fold_the_rest">(fold the rest)</a><br>
</p>
<p>
  {% for error in form.errors.passive %}<span style="color: red;">[{{error}}]</span><br>{% endfor %}
  {{form.passive.label}} {{form.passive}} (<span id="passive_size">0.00</span>%) <a href="#" id="call_the_rest">({% if current_options.can_check() %}check{% else %}call{% endif %} the rest)</a> {% if current_options.call_cost != 0 %} <em>(cost to call: {{current_options.call_cost}})</em> {% endif %} <br>
</p>
{% if current_options.can_raise() %}
<p>
  {% for error in form.errors.aggressive %}<span style="color: red;">[{{error}}]</span><br>{% endfor %}
  {{form.aggressive.label}} {{form.aggressive}} (<span id="aggressive_size">0.00</span>%) <a href="#" id="raise_the_rest">({% if current_options.is_raise %}raise{% else %}bet{% endif %} the rest)</a>
</p>
{% endif %}
</details>
</form>
</p>
{% endif %}
<details><summary><strong>Hand History</strong></summary>
{{ super() }}
</details>
{% endblock %}