{% extends "web/base.html" %}

{% block title %}Range vs. Range is Alpha{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Range vs. Range is <a class="text-danger" href="#">Alpha</a> Software</h1>
  </div>
  <p>Wikipedia says, of <a href="http://en.wikipedia.org/wiki/Software_release_life_cycle#Alpha">alpha software</a>:</p>
  <blockquote><p>The alpha phase of the release life cycle is the first phase to begin software testing. Alpha software can be unstable and could cause crashes or data loss. In general, external availability of alpha software is uncommon in proprietary software, while open source software often has publicly available alpha versions.</p></blockquote>
  <p>This will eventually be followed by <a href="http://en.wikipedia.org/wiki/Software_release_life_cycle#Beta">beta software</a>:</p>
  <blockquote><p>Beta phase generally begins when the software is feature complete but likely to contain a number of known or unknown bugs. Software in the beta phase will generally have many more bugs in it than completed software, as well as speed/performance issues and may still cause crashes or data loss.</p></blockquote>
  <p>Range vs. Range is alpha software, developed solo, in my spare time &ndash; of which I have little. Please be patient with me, and forgiving.</p>
  <p>Range vs. Range is likely to end up in perpetual beta. My focus is on functionality first, usability second. Range vs. Range has very few bugs, is a long way from feature complete, and the user interface is severely lacking polish. However, it <strong>is</strong> useful.</p>  
</div>
{% endblock %}