{% extends "web/base.html" %}

{% block title %}Analysis - Range vs. Range{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
  $('.bluff-header').popover({trigger: 'hover'})
  </script>
{% endblock %}
 
{% macro table_start() %}
    <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <td><strong>Cards</strong></td>
      <td><strong>EV of a bluff</strong></td>
      {# <td><strong>Fold ratio</strong></td> #}
      <td><strong>EV required to semibluff</strong></td>
    </tr>
    </thead>
    <tbody>
{% endmacro %}

{% macro table_middle(item) %}
    <tr>
      <td>{{item.cards[0].to_mnemonic()}}{{item.cards[1].to_mnemonic()}}</td>
      <td>{{"%0.2f" % (item.immediate_result,)}} chips</td>
      {# <td>{{"%0.2f" % (item.fold_ratio * 100,)}}%</td> #}
      <td>
        {%- if item.semibluff_ev is none -%}
          N/A {# i.e the river #}
        {%- elif item.semibluff_ev < 0.0 -%}
          N/A (a bluff is already successful)
        {%- else -%}
          {{"%0.2f" % (item.semibluff_ev,)}} chips ({{"%0.2f" % (item.semibluff_equity * 100,)}}% of pot)
        {%- endif -%}
      </td>
    </tr>
{% endmacro %}

{% macro table_end() %}
    </tbody>
    </table>
{% endmacro %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Analysis of Game {{gameid}}<br><small>{{street_text}}, {{screenname}} {{action_text}}</small></h1>
  </div>
</div>
<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#aggressive" class="bluff-header" data-container="body" data-toggle="tab" data-placement="top" data-content="showing the worst bluff first">{% if is_raise %}Hands raised{% else %}Hands bet{% endif %}</a></li>
    <li><a href="#passive" class="bluff-header" data-container="body" data-toggle="tab" data-placement="top" data-content="showing the best (potential) bluff first">{% if is_check %}Hands checked{% else %}Hands called{% endif %}</a></li>
    <li><a href="#fold" class="bluff-header" data-container="body" data-toggle="tab" data-placement="top" data-content="showing the best (potential) bluff first">Hands folded</a></li>
  </ul>

  <div class="tab-content">
  <div class="tab-pane active" id="aggressive">
    {{ table_start() }}
    {% for item in items_aggressive %}
    {{ table_middle(item) }}
    {% endfor %}
    {{ table_end() }}
  </div>
  <div class="tab-pane" id="passive">
    {{ table_start() }}
    {% for item in items_passive %}
    {{ table_middle(item) }}
    {% endfor %}
    {{ table_end() }}
  </div>
  <div class="tab-pane" id="fold">
    {{ table_start() }}
    {% for item in items_fold %}
    {{ table_middle(item) }}
    {% endfor %}
    {{ table_end() }}
  </div>
  </div>
</div>
{% endblock %}