{% extends "web/base.html" %}

{% block navbar %}
{# That's right - nothing. #}
{% endblock %}

{% block content %}

{{ flash_messages() }}

<form method=post>
  {{ form.hidden_tag() }}
  <div class="form-group">
    <textarea rows=4 name="message" class="form-control"></textarea>
    <p class="help-block">Your chat will show up here immediately, but won't show up in the history tab until you refresh the page.</p>
  </div>
  <button type=submit class="btn btn-primary">Chat</button>
</form>
<hr>
<dl class="dl-horizontal">
  {% for item in all_chats %}
  <dt>{{item.screenname}}</dt>
  <dd>{{item.message}}</dd>
  {% endfor %}
</dl>

{% endblock %}