{% extends "web/base.html" %}

{% block metas %}
{{super()}}
<meta property="fb:app_id" content="1538701496358104"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="{{title}} - Range vs. Range"/>
<meta property="og:url" content="{{request.url}}"/>
<meta property="og:image" content="{{url_for('static', filename='social/RvR.png', _external=True)}}"/>
<meta property="og:site_name" content="Range vs. Range"/>
<meta property="og:description" content="History and analysis of {{title}} on Range vs. Range"/>
{% endblock %}

{% block scripts %}
{{super()}}
<script type=text/javascript>
$CURRENT_BUTTON = null;
range_view = function(new_id, button_id, row_id, ori, fol, pas, agg, is_check, is_raise) {
    $('#' + new_id).remove();  // if any
    $('#ori_' + new_id).remove();  // if any
    if (button_id == $CURRENT_BUTTON) {
        $CURRENT_BUTTON = null;
        return;
    }
    $CURRENT_BUTTON = button_id;
    dynamic_url = $SCRIPT_ROOT + '/range-editor?embedded=true&rng_unassigned=nothing&rng_original=' + encodeURIComponent(ori) + '&rng_fold=' + encodeURIComponent(fol) + '&rng_passive=' + encodeURIComponent(pas) + '&rng_aggressive=' + encodeURIComponent(agg) + '&raised=' + encodeURIComponent(is_raise) + '&can_check=' + encodeURIComponent(is_check);
    iframe = $('<iframe>', {id: 'viewer', style: 'border: 0px none transparent;', src: dynamic_url});
    iframe.width(470);  // Could be as low as 461 (@ 2014-06-08)
    iframe.height(410);  // Could be as low as 399 (@ 2014-06-08)
    iframe.text('Sorry, your browser does not support iframes.');

    {# letting user see raw range #}
    {# note that adding it in earlier means it's displayed later #}
    d = $('<div>', {style: 'word-break: break-word'});
    d.append($('<p>', {text: ori}))
    td = $('<td colspan=9>'); {# needed for table in situation tab #}
    td.append(d);
    tr = $('<tr>').attr('id', 'ori_' + new_id);
    tr.append(td);
    $('#' + row_id).after(tr);

    td = $('<td colspan=9>'); {# needed for table in situation tab #}
    td.append(iframe);
    tr = $('<tr>').attr('id', new_id);
    tr.append(td);
    $('#' + row_id).after(tr);
};
showdown_view = function(criterion) {
    // toggle this one, hide all others
  was_visible = $(criterion).is(':visible');
  $('.showdown').hide();
  if (was_visible) {
    $(criterion).hide();
  } else {
    $(criterion).show();
  }
};
</script>
{% if is_new_chat and is_mine %}
  <script>
  $('#heading-chat').popover('show')
  </script>
{% endif %}
{% endblock %}

{% block styles %}
{{ super() }}
<style>
  html {
    overflow-y: scroll;
  }
</style>
{% endblock %}

{% block content %}

<div class="container">
  <div class="page-header">
    <h1>{{title}} <small>{% if is_running %}running{% else %}finished{% endif %}</small></h1>
  </div>
</div>

{{ flash_messages() }}

<div class="container">
{% if game_details.public_ranges %}
{% if is_running %}
<div class="alert alert-warning" role="alert">This is an optimization mode game. All players' ranges are visible during play, and the game will split to play out all betting lines.</div>
{% endif %}
<div class="alert alert-warning" role="alert">The betting line played out in this game constitutes {% if game_details.spawn_factor < 0.0001 %}less than 0.01%{% else %}{{"%0.2f%%" % (game_details.spawn_factor * 100.0,)}}{% endif %} of <a href="{{url_for('group_page', id=game_details.spawn_group)}}">Group {{game_details.spawn_group}}</a>.</div>
{% endif %}

<ul class="nav nav-tabs">
  <li><a id="heading-situation" href="#situation" data-toggle="tab">Situation</a></li>
{% if is_running %}
  <li class="active"><a id="heading-game-state" href="#game-state" data-toggle="tab">Game state</a></li>
  {% if is_me %}
  <li><a id="heading-range-editor" href="#range-editor" data-toggle="tab">Range editor</a></li>
  {% endif %}
{% endif %}
  <li{% if not is_running %} class="active"{% endif %}><a id="heading-history" href="#history" data-toggle="tab">History</a></li>
{% if not is_running %}
  <li><a id="heading-results" href="#results" data-toggle="tab">Results</a></li>
{% endif %}
{% if is_mine %}
  <li><a id="heading-chat" href="#chat" data-trigger="hover focus" data-toggle="tab" data-container="body" data-placement="right" data-content="New!">Chat</a></li>
{% endif %}
</ul>

<div class="tab-content pad-above">

<div class="tab-pane" id="situation">
<p><strong>Situation:</strong> {{game_details.situation.description}}</p>
<p><strong>Starting pot:</strong> {{game_details.situation.pot_pre}}</p>
<table class="table table-bordered">
<thead>
<tr><td><strong>Position</strong></td><td><strong>Starting range</strong</td><td><strong>Contributed</strong></td><td><strong>Player</strong></td></tr>
</thead>
<tbody>
{% for i in range(num_players) %}
{% set rgp = game_details.rgp_details[i] %}
{% set position = game_details.situation.players[i] %}
<tr id='position-table-{{i}}'>
  <td>{{position.name}}</td>
  <td><button class="btn btn-primary" type=button id="view-position-{{i}}" onclick="range_view('current-position-row', 'view-position-{{i}}', 'position-table-{{i}}', '{{position.range_raw}}', 'nothing', 'nothing', 'nothing', {{False|tojson}}, {{False|tojson}});">View</button>&nbsp; {{position.range_size}} combos</td>
  <td>{{position.contributed}}</td>
  <td>{{rgp.user.screenname}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

{% if is_running %}
  <div class="tab-pane active" id="game-state">
    {% if game_details.current_round != "Preflop" %}
    <p>The board is: <input type=hidden id=board value="{{game_details.board_raw}}">{% for card in board %}<img alt="{{card}}" src="/static/smallcards/{{card}}.png">{% endfor %}</p>
    <p>The pot at the start of this round was: <strong>{{game_details.pot_pre}}</strong>.</p>
    {% endif %}

    <table class="table table-bordered">
    <thead>
    <tr><td><strong>Player</strong></td><td><strong>Stack</strong></td><td><strong>In the pot</strong></td>{% if game_details.public_ranges and not is_hack %}<td><strong>Current range</strong></td>{% endif %}<td><strong>Status</strong></td></tr>
    </thead>
    <tbody>
    {% for i in range(num_players) %}
    {% set rgp = game_details.rgp_details[i] %}
    <tr id='player-table-{{i}}'>
      <td><strong>{{rgp.user.screenname}}</strong></td>
      <td>{{rgp.stack}}</td>
      <td>{{rgp.contributed}}</td>
      {% if game_details.public_ranges and not is_hack %}<td><button class="btn btn-primary" type=button id="view-player-{{i}}" onclick="range_view('current-player-row', 'view-player-{{i}}', 'player-table-{{i}}', '{{rgp.range_raw}}', 'nothing', 'nothing', 'nothing', {{False|tojson}}, {{False|tojson}});">View</button>&nbsp; {{rgp.range_size}} combos</td>{% endif %}
      <td>
      {% if game_details.current_player and rgp.user.screenname == game_details.current_player.user.screenname %}
        <em>(acting now)</em>
      {% elif rgp.left_to_act %}
        <em>(still to act)</em>
      {% elif rgp.folded %}
        <em>(folded)</em>
      {% else %}
        <em>(acted)</em>
      {% endif %}
      </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>

  {% if is_me %}
  <div class="tab-pane" id="range-editor">
    <iframe src="{{range_editor_url}}" min-width="100%" width="100%" height="1200px" name="range-editor"></iframe>
    <form method="post" id="action" name="action" onsubmit="return validate_form();">
      {{form.hidden_tag()}}
      {% if current_options.can_raise() %}{{form.total}}{% endif %}
      {{form.fold}}
      {{form.passive}}
      {% if current_options.can_raise() %}
      {{form.aggressive}}
      {% endif %}
    </form>
  </div>
  {% endif %}
{% endif %}

<div class="tab-pane{% if not is_running %} active{% endif %}" id="history">
{% if history %}
<table class="table table-condensed">
  {% for hint, item in history %}
    <tr id="history-table-{{item.order}}">
      <td>
        {% if hint == "ACTION_SUMMARY" %}
          <strong>{{item.screenname}}
          {% set result = item.action_result %}
          {% if result.is_fold %}folds
          {%- elif result.is_passive and result.call_cost %}calls {{result.call_cost}}
          {%- elif result.is_passive %}checks
          {%- elif result.is_aggressive and result.is_raise %}raises to {{result.raise_total}}
          {%- elif result.is_aggressive %}bets {{result.raise_total}}
          {%- else %}does something inexplicable
          {%- endif %},</strong>
          with {{item.combos}} combos ({{"%0.2f" % item.percent}}% of all possible hands)
        {% elif hint == "ACTION_RESULT" %}
          <strong>{{item.screenname}}
          {% set result = item.action_result %}
          {% if result.is_fold %}folds
          {%- elif result.is_passive and result.call_cost %}calls {{result.call_cost}}
          {%- elif result.is_passive %}checks
          {%- elif result.is_aggressive and result.is_raise %}raises to {{result.raise_total}}
          {%- elif result.is_aggressive %}bets {{result.raise_total}}
          {%- else %}does something inexplicable
          {%- endif %}</strong>
          (ranges hidden while hand is in progress)
        {% elif hint == "RANGE_ACTION" %}
          {{item.screenname}}
          folds {{"%0.2f" % item.fold_pct}}%,
          {% if item.is_check %}checks{% else %}calls{% endif %} {{"%0.2f" % item.passive_pct}}%,
          {% if item.is_raise %}raises{% else %}bets{% endif %} {{"%0.2f" % item.aggressive_pct}}%
          (to total {{item.raise_total}})
        {% elif hint == "BOARD" %}
          {{item['street']}}: {% for card in item['cards'] %}<img alt="{{card}}" src="/static/smallcards/{{card}}.png">{% endfor %}
        {% elif hint == "TIMEOUT" %}
          {{item.screenname}} has timed out.
        {% elif hint == "CHAT" %}
          {{item.screenname}}: <em>{{item.message}}</em>
        {% elif hint == "SHOWDOWN" %}
          <strong>Showdown between {{item.players}} for {{item.pot}} chips.</strong>
        {% else %}
          {{item[0]}}
        {% endif %}

        <div class="pull-right">
          {# link to analysis #}
          {% if not is_running and hint == "ACTION_SUMMARY" and item.action_result.is_aggressive and item.action_result_order in analyses %}
          <a class="btn btn-primary" href="{{url_for('analysis_page', gameid=game_details.gameid, order=item.action_result_order)}}">Analysis</a>
          {% endif %}

          {# link to showdown page #}
          {% if hint == "SHOWDOWN" %}
          <button class="btn btn-primary" type=button onclick="showdown_view('#showdown-{{item.order}}');">Details</a>
          {% endif %}

          {# button for inline range viewing #}
          {% if hint == "RANGE_ACTION" or hint == "ACTION_SUMMARY" %}
          <button class="btn btn-primary" type=button id="view-action-{{item.order}}" onclick="range_view('current-viewer-row', 'view-action-{{item.order}}', 'history-table-{{item.order}}', '{{item.original}}', '{{item.fold}}', '{{item.passive}}', '{{item.aggressive}}', {{item.is_check|tojson}}, {{item.is_raise|tojson}});">View</button>
          {% elif hint == "ACTION_RESULT" %}
          <div title="Ranges hidden while hand is in progress"><button class="btn btn-primary" type=button disabled=disabled>View</button></div>
          {% endif %}
        </div>
      </td>
    </tr>
    {% if hint == "SHOWDOWN" %}
    <tr style="display:none;" class=showdown id="showdown-{{item.order}}">
    <td>
    <table class="table table-condensed">
    <thead>
    <tr>
      <td><strong>Player</strong></td>
      <td><strong>Equity</strong></td>
      <td><strong>Payout</strong></td>
    </tr>
    </thead>
    <tbody>
    {% for equity in item.equities %}
    <tr>
      <td>{{equity.user.screenname}}</td>
      <td>{% if equity.equity is none %}(not yet calculated){% else %}{{equity.equity}}{% endif %}</td>
      <td>{% if equity.equity is none %}(not yet calculated){% else %}{{equity.equity * item.pot}}{% endif %}</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan=3>
        <div class="pull-right">
          <a class="btn btn-primary" href="{{url_for('showdown_page', gameid=game_details.gameid, order=item.order)}}">All Combos EV</a>
        </div>
      </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    {% endif %}
  {% endfor %}
</table>
{% else %}
<table class="table table-condensed">
  <tr>
    <td>Nothing, yet.</td>
  </tr>
</table>
{% endif %}
</div>

{% if not is_running and not is_hack %}
<div class="tab-pane" id="results">
<table class="table table-condensed">
    <thead>
    <tr>
      <td><strong>Description</strong></td>
      {% for i in range(num_players) %}<td><strong>{{game_details.rgp_details[i].user.screenname}}</strong>{% if not game_details.rgp_details[i].results %} (not yet calculated){% endif %}</td>{% endfor %}
    </tr>
    </thead>
    {% for hint, item in history %}
      {% if hint in ["RANGE_ACTION", "BOARD"] %}
      <tr>
        <td colspan=9>
          {% if hint == "RANGE_ACTION" %}
            {{item.screenname}}
            folds {{"%0.2f" % item.fold_pct}}%,
            {% if item.is_check %}checks{% else %}calls{% endif %} {{"%0.2f" % item.passive_pct}}%,
            {% if item.is_raise %}raises{% else %}bets{% endif %} {{"%0.2f" % item.aggressive_pct}}%
            (to total {{item.raise_total}})
          {% elif hint == "BOARD" %}
            {{item['street']}}: {% for card in item['cards'] %}<img alt="{{card}}" src="/static/smallcards/{{card}}.png">{% endfor %}
          {% endif %}
        </td>
      </tr>
      {% for p in payments[item.order] %}
      <tr>
        <td>
          {% if p.reason == 'fold-equity' %}
            <strong>{{p.screenname}}</strong> gets paid <strong>{{"%0.4f" % (p.amount,)}}</strong> fold equity.
          {% elif p.reason == 'branch' %}
            <strong>{{p.screenname}}</strong> {% if p.amount >= 0.0 %}gets paid{% else %}pays{% endif %} <strong>{{"%0.4f" % (p.amount if p.amount >= 0.0 else -p.amount,)}}</strong> for a change in equity.
          {% elif p.reason == 'board' %}
            <strong>{{p.screenname}}</strong> {% if p.amount >= 0.0 %}gets paid{% else %}pays{% endif %} <strong>{{"%0.4f" % (p.amount if p.amount >= 0.0 else -p.amount,)}}</strong> for a change in equity.
          {% elif p.reason == 'showdown-call' or p.reason == 'pot' %}
            <strong>{{p.screenname}}</strong> pays <strong>{{"%0.4f" % (-p.amount,)}}</strong> to {{p.action}}.
          {% elif p.reason == 'showdown' %}
            <strong>{{p.screenname}}</strong> gets paid <strong>{{"%0.4f" % (p.amount,)}}</strong> at showdown.
          {% else %}
            <strong>Unknown type of payment '{{p.reason}}', details: {{p}}</strong>
          {% endif %}
        </td>
        {% for i in range(num_players) %}
        {% set rgp = game_details.rgp_details[i] %}
        <td>
            {% if rgp.user.screenname == p.screenname %}
            <strong>{{"%0.4f" % p.amount}}</strong>
            {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
      {% endif %}
    {% endfor %}
    <tr>
        <td><strong>Total</strong></td>
        {% for i in range(num_players) %}
        {% set rgp = game_details.rgp_details[i] %}
        <td><strong>{% if not rgp.results %}(not yet calculated){% else %}{{"%0.4f" % rgp.results[scheme]}}{% endif %}</strong></td>
        {% endfor %}
    </tr>
</table>
</div> <!-- results -->
{% endif %}

<div class="tab-pane" id="chat">
  <iframe src="{{url_for('chat_page', gameid=game_details.gameid)}}" min-width="100%" width="100%" height="1200px"></iframe>
</div>

{% if not is_running %}{{ share_buttons() }}{% endif %}

</div> <!-- .tab-content -->

</div> <!-- .container -->
{% endblock %}
