{% extends "web/game_list.html" %}

{% block title %}Range vs. Range - Group {{groupid}}{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Game Group {{groupid}}</h1>
  </div>
  
  {{ running_games(games, userid, True) }}

    <h2>Results Summary</h2>

    <table class="table table-condensed">
    <thead>
    <tr>
      <td><strong>Completed</strong></td>
      {% for item in total_results %}
      <td><strong>{{item.screenname}}</strong></td>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{"%0.2f%%" % (total_weight * 100.0,)}}</td>
      {% for item in total_results %}
      <td>{{"%0.4f" % (item.result,)}}</td>
      {% endfor %}
    </tr>
    </tbody>
    </table>
  
{#
  <table class="table table-bordered">

  <thead>
  <tr>
  <td rowspan=2><div class="text-center"><strong>Game</strong></div></td>
  <td colspan='{{num_streets}}'><div class="text-center"><strong>Action</strong></div></td>
  <td colspan='{{num_players}}'><div class="text-center"><strong>Results</strong></div></td>
  </tr>
  <tr>
  {% for street in streets %}<td><strong>{{street}}</strong></td>{% endfor %}
  {% for player in players %}<td><strong>{{player}}</strong></td>{% endfor %}
  </tr>
  </thead>

  <tbody>
  {% for game in games2 %}
  <tr>
    <td>Game {{game.gameid}}</td>
    {% for street in streets %}
    <td>{{game.line[street]}}</td>
    {% endfor %}
    {% for player in players %}
    <td>{{game.results[player]}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  
  <tfoot>
  <tr>
  <td colspan="{{num_streets + 1}}"></td>
  {% for player in players %}<td><strong>{{"%0.4f" % (totals[player],)}}</strong></td>{% endfor %}  
  </tr>
  </tfoot>
  
  </tbody>

  </table>
#}
{{ share_buttons() }}
</div>
{% endblock %}