{% extends "web/base.html" %}

{% macro open_games(is_public) %}
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th style="min-width: 100px; width: 100px">Game</th>
        <th>Players</th>
        <th>Description</th>
      </tr>
    </thead>
    {%- for game in my_open %}{% if game.public_ranges == is_public %}
    <tr>
      <td>
        <div class="btn-group btn-group-justified">
          <a class="btn {% if is_public %}btn-warning{% else %}btn-primary{% endif %}" href="{{ url_for('leave_game', gameid=game.gameid) }}">Leave</a>
        </div>
      </td>
      <td>{% set pipe = joiner('; ') %}{% for user in game.users %}{{pipe()}}{{user.screenname}}{% endfor %}</td>
      <td>{{game.situation.description}}</td>
    </tr>
    {% endif %}{%- endfor %}
    {%- for game in others_open %}{% if game.public_ranges == is_public %}
    <tr>
      <td>
        <div class="btn-group btn-group-justified">
          <a class="btn {% if is_public %}btn-warning{% else %}btn-primary{% endif %}" href="{{ url_for('join_game', gameid=game.gameid) }}">Join</a>
        </div>
      </td>
      <td>{% set pipe = joiner('; ') %}{% for user in game.users %}{{pipe()}}{{user.screenname}}{% endfor %}</td>
      <td>{{game.situation.description}}</td>
    </tr>
    {% endif %}{%- endfor %}
  </table>
  </div>
{% endmacro %}

{% macro running_games(games_details, userid, show_details, show_description) %}
  <table class="table">
    <thead>
      <tr>
        <th style="min-width: 200px; width: 200px">Game</th>
        {% if show_details %}
        <th>Details</th>
        {% endif %}
        <th>Players</th>
        {% if show_description %}
        <th>Description</th>
        {% endif %}
      </tr>
    </thead>
    {%- for game in games_details %}
    <tr>
      <td>
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button type=button class="btn btn-default">Game {{game.gameid}}</button>
          </div>
          <div class="btn-group">
            <a href="{{ url_for('game_page', gameid=game.gameid) }}" class="btn {% if game.public_ranges %}btn-warning{% else %}btn-primary{% endif %}" >{% if game.current_user_details is none %}View{% elif game.current_user_details.userid == userid %}Play{% else %}View{% endif %}</a>
          </div>
        </div>
      </td>
      {% if show_details %}
      <td>
        <button type=button class="btn btn-default game-show" id="show-{{game.gameid}}" onclick="show_game_details({{game.gameid}});"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></button>
        <button type=button class="btn btn-default game-hide hidden" id="hide-{{game.gameid}}" onclick="hide_game_details({{game.gameid}});"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></button>
      </td>
      {% endif %}
      <td>
        {% set pipe = joiner('; ') %}{% for user in game.users %}{{pipe()}}{{user.screenname}}{% endfor %}
      </td>
      {% if show_description %}
      <td>{{game.situation.description}}</td>
      {% endif %}
    </tr>
    <tr class="game-row hidden" id="row-{{game.gameid}}">
      <td colspan=4>
        {% if not game.is_finished %}
        (game is still running)
        {% else %}
        <table class="table table-condensed">
        <thead>
        <tr>
          {% if game.public_ranges %}<td><strong>Line weight</strong></td>{% endif %}
          {% for rgp in game.rgp_details %}
          <td><strong>{{rgp.user.screenname}}</strong></td>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
          {% if game.public_ranges %}<td>{{"%0.2f%%" % (game.spawn_factor * 100.0,)}}</td>{% endif %}
          {% for rgp in game.rgp_details %}
          <td>{% if not rgp.results %}(not yet calculated){% else %}{{"%0.4f" % (rgp.results['ev'],)}}{% endif %}</td>
          {% endfor %}
        </tr>
        </tbody>
        </table>
        {% endif %}
      </td>
    </tr>
    {%- endfor %}
  </table>
{% endmacro %}

{% block scripts %}
{{ super() }}
<script>
hide_game_details = function(gameid) {
    $('.game-show').removeClass('hidden');
    $('.game-hide').addClass('hidden');
    $('.game-row').addClass('hidden');
    // $('#show-' + gameid).removeClass('hidden');
    // $('#hide-' + gameid).addClass('hidden');
    // $('#row-' + gameid).addClass('hidden');
};
show_game_details = function(gameid) {
    hide_game_details(gameid); // start afresh
    $('#show-' + gameid).addClass('hidden');
    $('#hide-' + gameid).removeClass('hidden');
    $('#row-' + gameid).removeClass('hidden');
};
</script>
<script>
  $('#heading-my').click(function() {
    $.cookie('selected-heading', 'heading-my', { expires: 7 });
  });
  $('#heading-open').click(function() {
    $.cookie('selected-heading', 'heading-open', { expires: 7 });
  });
  $('#heading-finished').click(function() {
    $.cookie('selected-heading', 'heading-finished', { expires: 7 });
  });
  $('#mode-competition').click(function() {
    $.cookie('selected-mode', 'mode-competition', { expires: 7 });
  });
  $('#mode-public').click(function() {
    $.cookie('selected-mode', 'mode-public', { expires: 7 });
  });
</script>
<script>
$('.mode-header').popover({trigger: 'hover'})
</script>
{% endblock %}

{% block styles %}
{{ super() }}
<style>
  html {
    overflow-y: scroll;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Home <br><small>play, join or review games</small></h1>
  </div>
</div>

{{ flash_messages() }}

<div class="container">

<ul class="nav nav-tabs">
  <li{% if selected_heading == "heading-my" %} class="active"{% endif %}><a id="heading-my" href="#my" data-toggle="tab">My games</a></li>
  <li{% if selected_heading == "heading-open" %} class="active"{% endif %}><a id="heading-open" href="#open" data-toggle="tab">Open games</a></li>
  <li{% if selected_heading == "heading-finished" %} class="active"{% endif %}><a id="heading-finished" href="#finished" data-toggle="tab">Finished games</a></li>
</ul>

<div class="tab-content">

<!-- My games -->
  <div class="tab-pane{% if selected_heading == "heading-my" %} active{% endif %}" id="my">
{%- if r_games.running_details %}
  <div class="table-responsive">
  {{ running_games(r_games.running_details, userid, False, True) }}
  </div>
{%- else %}
  <div class="alert alert-info">You don't have any running games. Click the 'Open games' tab to see games you can join.</div>
{%- endif %}
  </div><!-- /#my -->

<!-- Open games -->
  <div class="tab-pane{% if selected_heading == "heading-open" %} active{% endif %}" id="open">
    <ul class="nav nav-tabs">
      <li{% if selected_mode == "mode-competition" %} class="active"{% endif %}><a id="mode-competition" href="#competition" class="mode-header" data-toggle="tab" data-container="body" data-placement="top" data-content="This is real poker, played range vs. range. It gives you the opportunity to train your hand-reading skills, and practice exploitative play.">Competition mode</a></li>
      <li{% if selected_mode == "mode-public" %} class="active"{% endif %}><a id="mode-public" href="#public" class="mode-header" data-toggle="tab" data-container="body" data-placement="top" data-content="This is for the game theory enthusiast. Players can see each other's ranges during play, and all betting lines are played out.">Optimization mode</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane{% if selected_mode == "mode-competition" %} active{% endif %}" id="competition">
          {{open_games(False)}}
        </div>
        <div class="tab-pane{% if selected_mode == "mode-public" %} active{% endif %}" id="public">
          {{open_games(True)}}
        </div>
    </div>
  </div><!-- /#open -->

<!-- Finished games -->
  <div class="tab-pane{% if selected_heading == "heading-finished" %} active{% endif %}" id="finished">
{%- if my_finished_games %}
  <div class="table-responsive">
  {{ running_games(my_finished_games, userid, True, True) }}
  </div>
  <div class='text-center'>
    {% if fp_less %}
    <a class="btn btn-sm btn-default" aria-label="Previous" href="{{url_for('home_page', fp=fp-1)}}"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span> prev</a>
    {% endif %}
    {% if fp_more %}
    <a class="btn btn-sm btn-default" aria-label="Next" href="{{url_for('home_page', fp=fp+1)}}">next <span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a>
    {% endif %}
  </div>
{%- else %}
  <div class="alert alert-info">You don't have any finished games. Click the 'Open games' tab to see games you can join.</div>
{%- endif %}
  </div><!-- /#finished -->
</div>

</div><!-- /.container -->
{% endblock %}
