{% extends "web/base.html" %}

{% block scripts %}
{{ super() }}
<script>
  $('#heading-my').click(function() {
    $.cookie('selected-heading', 'heading-my', { expires: 7 });
  });
  $('#heading-open').click(function() {
    $.cookie('selected-heading', 'heading-open', { expires: 7 });
  });
  $('#heading-finished').click(function() {
    $.cookie('selected-heading', 'heading-finished', { expires: 7 });
  });
</script>
{% endblock %}

{% block styles %}
{{ super() }}
<style>
  html {
    overflow-y: scroll;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Home <br><small>play, join or review games</small></h1>
  </div>
</div>

{{ flash_messages() }}

<div class="container">

<ul class="nav nav-tabs">
  <li{% if selected_heading == "heading-my" %} class="active"{% endif %}><a id="heading-my" href="#my" data-toggle="tab">My games</a></li>
  <li{% if selected_heading == "heading-open" %} class="active"{% endif %}><a id="heading-open" href="#open" data-toggle="tab">Open games</a></li>
  <li{% if selected_heading == "heading-finished" %} class="active"{% endif %}><a id="heading-finished" href="#finished" data-toggle="tab">Finished games</a></li>
</ul>

<div class="tab-content">

<!-- My games -->
  <div class="tab-pane{% if selected_heading == "heading-my" %} active{% endif %}" id="my">
{%- if r_games.running_details %}
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th style="min-width: 200px; width: 200px">Game</th>
        <th>Players</th>
        <th>Description</th>
      </tr>
    </thead>
    {%- for game in r_games.running_details %}
    <tr>
      <td>
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button type=button class="btn btn-default">Game {{game.gameid}}</button>
          </div>
          <div class="btn-group">
            <a href="{{ url_for('game_page', gameid=game.gameid) }}" class="btn btn-primary" >{% if game.current_user_details.userid == userid %}Play{% else %}View{% endif %}</a>
          </div>
        </div>
      </td>
      <td>{% set pipe = joiner('; ') %}{% for user in game.users %}{{pipe()}}{{user.screenname}}{% endfor %}</td>
      <td>{{game.situation.description}}</td>
    </tr>
    {%- endfor %}
  </table>
  </div>
{%- else %}
  <div class="alert alert-info">You don't have any running games. Click the 'Open games' tab to see games you can join.</div>
{%- endif %}
  </div><!-- /#my -->

<!-- Open games -->
  <div class="tab-pane{% if selected_heading == "heading-open" %} active{% endif %}" id="open">
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th style="min-width: 200px; width: 200px">Game</th>
        <th>Players</th>
        <th>Description</th>
      </tr>
    </thead>
    {%- for game in my_open %}
    <tr>
      <td>
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button type=button class="btn btn-default">Game {{game.gameid}}</button>
          </div>
          <div class="btn-group">
            <a class="btn btn-primary" href="{{ url_for('leave_game', gameid=game.gameid) }}">Leave</a>
          </div>
        </div>
      </td>
      <td>{% set pipe = joiner('; ') %}{% for user in game.users %}{{pipe()}}{{user.screenname}}{% endfor %}</td>
      <td>{{game.situation.description}}</td>
    </tr>
    {%- endfor %}
    {%- for game in others_open %}
    <tr>
      <td>
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button type=button class="btn btn-default">Game {{game.gameid}}</button>
          </div>
          <div class="btn-group">
            <a class="btn btn-primary" href="{{ url_for('join_game', gameid=game.gameid) }}">Join</a>
          </div>
        </div>
      </td>
      <td>{% set pipe = joiner('; ') %}{% for user in game.users %}{{pipe()}}{{user.screenname}}{% endfor %}</td>
      <td>{{game.situation.description}}</td>
    </tr>
    {%- endfor %}
  </table>
  </div>
  </div><!-- /#open -->

<!-- Finished games -->
  <div class="tab-pane{% if selected_heading == "heading-finished" %} active{% endif %}" id="finished">
{%- if my_finished_games %}
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th style="min-width: 200px; width: 200px">Game</th>
        <th>Players</th>
        <th>Description</th>
      </tr>
    </thead>
    {%- for game in my_finished_games %}
    <tr>
      <td>
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button type=button class="btn btn-default">Game {{game.gameid}}</button>
          </div>
          <div class="btn-group">
            <a href="{{ url_for('game_page', gameid=game.gameid) }}" class="btn btn-primary">View</a>
          </div>
        </div>
      </td>
      <td>{% set pipe = joiner('; ') %}{% for user in game.users %}{{pipe()}}{{user.screenname}}{% endfor %}</td>
      <td>{{game.situation.description}}</td>
    </tr>
    {%- endfor %}
  </table>
  </div>
{%- else %}
  <div class="alert alert-info">You don't have any finished games. Click the 'Open games' tab to see games you can join.</div>
{%- endif %}
  </div><!-- /#finished -->
</div>

</div><!-- /.container -->
{% endblock %}