{% extends "web/base.html" %}

{% macro open_games(is_public) %}
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th style="min-width: 100px; width: 100px">Game</th>
        <th>Players</th>
        <th>Situation</th>
      </tr>
    </thead>
    {%- for game in my_open %}{% if game.public_ranges == is_public %}
    <tr>
      <td>
        <div class="btn-group btn-group-justified">
          <a class="btn {% if is_public %}btn-warning{% else %}btn-primary{% endif %}" href="{{ url_for('leave_game', gameid=game.gameid) }}">Leave</a>
        </div>
      </td>
      <td>{% set pipe = joiner('; ') %}{% for user in game.users %}{{pipe()}}{{user.screenname}}{% endfor %}</td>
      <td>{{game.situation.description}}</td>
    </tr>
    {% endif %}{%- endfor %}
    {%- for game in others_open %}{% if game.public_ranges == is_public %}
    <tr>
      <td>
        <div class="btn-group btn-group-justified">
          <a class="btn {% if is_public %}btn-warning{% else %}btn-primary{% endif %}" href="{{ url_for('join_game', gameid=game.gameid) }}">Join</a>
        </div>
      </td>
      <td>{% set pipe = joiner('; ') %}{% for user in game.users %}{{pipe()}}{{user.screenname}}{% endfor %}</td>
      <td>{{game.situation.description}}</td>
    </tr>
    {% endif %}{%- endfor %}
  </table>
  </div>
{% endmacro %}

{% macro running_games(games_details, userid, show_details) %}
  <table class="table">
    <thead>
      <tr>
        <th style="min-width: 200px; width: 200px">Game</th>
        {% if show_details %}
        <th>Details</th>
        {% endif %}
        <th>Players</th>
        <th>Situation</th>
      </tr>
    </thead>
    {%- for game in games_details %}
    <tr>
      <td>
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button type=button class="btn btn-default">Game {{game.gameid}}</button>
          </div>
          <div class="btn-group">
            <a href="{{ url_for('game_page', gameid=game.gameid) }}" class="btn {% if game.public_ranges %}btn-warning{% else %}btn-primary{% endif %}" >{% if game.is_finished %}View{% elif game.is_on_me %}Play{% else %}View{% endif %}</a>
          </div>
        </div>
      </td>
      {% if show_details %}
      <td>
        <button type=button class="btn btn-default game-show" id="show-game-{{game.gameid}}" onclick="show_game_details({{game.gameid}});"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></button>
        <button type=button class="btn btn-default game-hide hidden" id="hide-game-{{game.gameid}}" onclick="hide_game_details({{game.gameid}});"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></button>
      </td>
      {% endif %}
      <td>
        {% set pipe = joiner('; ') %}{% for user in game.users %}{{pipe()}}{{user.screenname}}{% endfor %}
      </td>
      <td>{{game.situation.description}}</td>
    </tr>
    <tr class="game-row hidden" id="row-game-{{game.gameid}}">
      <td colspan=4>
        {% if not game.is_finished %}
        (game is still running)
        {% else %}
        <table class="table table-condensed">
        <thead>
        <tr>
          {% for rgp in game.rgp_details %}
          <td><strong>{{rgp.user.screenname}}</strong></td>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
          {% for rgp in game.rgp_details %}
          <td>{% if not rgp.results %}(not yet calculated){% else %}{{"%0.4f" % (rgp.results['ev'],)}}{% endif %}</td>
          {% endfor %}
        </tr>
        </tbody>
        </table>
        {% endif %}
      </td>
    </tr>
    {%- endfor %}
  </table>
{% endmacro %}

{% macro running_groups(groups_details, show_details) %}
<table class="table">
  <thead>
    <tr>
      <th style="min-width: 200px; width: 200px">Group</th>
      {% if show_details %}
      <th>Details</th>
      {% endif %}
      <th>Players</th>
      <th>Situation</th>
    </tr>
  </thead>
  {%- for group in groups_details %}
  <tr>
      <td>
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button type=button class="btn btn-default">Group {{group.groupid}}</button>
          </div>
          <div class="btn-group">
            <a href="{{ url_for('group_page', id=group.groupid) }}" class="btn btn-warning" >{% if group.is_finished %}View{% elif group.is_on_me %}Play{% else %}View{% endif %}</a>
          </div>
        </div>
      </td>
      {% if show_details %}
      <td>
        <button type=button class="btn btn-default group-show" id="show-group-{{group.groupid}}" onclick="show_group_details({{group.groupid}});"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></button>
        <button type=button class="btn btn-default group-hide hidden" id="hide-group-{{group.groupid}}" onclick="hide_group_details({{group.groupid}});"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></button>
      </td>
      {% endif %}
      <td>{% set pipe = joiner('; ') %}{% for user in group.users %}{{pipe()}}{{user.screenname}}{% endfor %}</td>
      <td>{{group.description}}</td>
  </tr>
    <tr class="group-row hidden" id="row-group-{{group.groupid}}">
      <td colspan=4>
        <table class="table table-condensed">
        <thead>
        <tr>
          {% for user in group.users %}
          <td><strong>{{user.screenname}}</strong></td>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
          {% for user in group.users %}
          <td>{% if group.is_analysed %}{{"%0.4f" % (user.result,)}}{% else %}(not yet calculated){% endif %}</td>
          {% endfor %}
        </tr>
        </tbody>
        </table>
      </td>
    </tr>
  {%- endfor %}
</table>
{% endmacro %}

{% block scripts %}
{{ super() }}
<script>
hide_game_details = function() {
    $('.game-show').removeClass('hidden');
    $('.game-hide').addClass('hidden');
    $('.game-row').addClass('hidden');
};
hide_group_details = function() {
    $('.group-show').removeClass('hidden');
    $('.group-hide').addClass('hidden');
    $('.group-row').addClass('hidden');
};
show_game_details = function(gameid) {
    hide_game_details(); // start afresh
    $('#show-game-' + gameid).addClass('hidden');
    $('#hide-game-' + gameid).removeClass('hidden');
    $('#row-game-' + gameid).removeClass('hidden');
};
show_group_details = function(groupid) {
    hide_group_details(); // start afresh
    $('#show-group-' + groupid).addClass('hidden');
    $('#hide-group-' + groupid).removeClass('hidden');
    $('#row-group-' + groupid).removeClass('hidden');
};
</script>
<script>
  $('#heading-my').click(function() {
    $.cookie('selected-heading', 'heading-my', { expires: 7 });
  });
  $('#heading-open').click(function() {
    $.cookie('selected-heading', 'heading-open', { expires: 7 });
  });
  $('#mode-open-competition').click(function() {
    $.cookie('selected-mode', 'mode-competition', { expires: 7 });
  });
  $('#mode-open-public').click(function() {
    $.cookie('selected-mode', 'mode-public', { expires: 7 });
  });
  $('#mode-running-competition').click(function() {
    $.cookie('selected-mode', 'mode-competition', { expires: 7 });
  });
  $('#mode-running-public').click(function() {
    $.cookie('selected-mode', 'mode-public', { expires: 7 });
  });
</script>
<script>
$('.mode-header').popover({trigger: 'hover'})
</script>
{% endblock %}

{% block styles %}
{{ super() }}
<style>
  html {
    overflow-y: scroll;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Home <br><small>play, join or review games</small></h1>
  </div>
</div>

{{ flash_messages() }}

<div class="container">

<ul class="nav nav-tabs">
  <li{% if selected_heading == "heading-my" %} class="active"{% endif %}><a id="heading-my" href="#my" data-toggle="tab">My games</a></li>
  <li{% if selected_heading == "heading-open" %} class="active"{% endif %}><a id="heading-open" href="#open" data-toggle="tab">Open games</a></li>
  <li class="navbar-right"><a id="heading-finished" href="{{url_for('finished_games')}}">Finished games</a></li>
</ul>

<div class="tab-content">

<!-- My games -->
  <div class="tab-pane{% if selected_heading == "heading-my" %} active{% endif %}" id="my">
    <ul class="nav nav-tabs">
      <li{% if selected_mode == "mode-competition" %} class="active"{% endif %}><a id="mode-running-competition" href="#running-competition" class="mode-header" data-toggle="tab">Competition mode</a></li>
      <li{% if selected_mode == "mode-public" %} class="active"{% endif %}><a id="mode-running-public" href="#running-public" class="mode-header" data-toggle="tab">Optimization mode</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane{% if selected_mode == "mode-competition" %} active{% endif %}" id="running-competition">
            {%- if my_running_games %}
              <div class="table-responsive">
              {{ running_games(my_running_games, userid, False) }}
              </div>
            {%- else %}
              <div class="alert alert-info">You don't have any running competition games. Click the 'Open games' tab to see games you can join.</div>
            {%- endif %}
        </div>
        <div class="tab-pane{% if selected_mode == "mode-public" %} active{% endif %}" id="running-public">
            {%- if my_running_groups %}
              <div class="table-responsive">
                {{ running_groups(my_running_groups, False) }}
              </div>
            {%- else %}
                <div class="alert alert-info">You don't have any running optimization games. Click the 'Open games' tab to see games you can join.</div>
            {%- endif %}
        </div>
    </div>
  </div><!-- /#my -->

<!-- Open games -->
  <div class="tab-pane{% if selected_heading == "heading-open" %} active{% endif %}" id="open">
    <ul class="nav nav-tabs">
      <li{% if selected_mode == "mode-competition" %} class="active"{% endif %}><a id="mode-open-competition" href="#open-competition" class="mode-header" data-toggle="tab" data-container="body" data-placement="top" data-content="This is real poker, played range vs. range. It gives you the opportunity to train your hand-reading skills, and practice exploitative play.">Competition mode</a></li>
      <li{% if selected_mode == "mode-public" %} class="active"{% endif %}><a id="mode-open-public" href="#open-public" class="mode-header" data-toggle="tab" data-container="body" data-placement="top" data-content="This is for the game theory enthusiast. Players can see each other's ranges during play, and all betting lines are played out.">Optimization mode</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane{% if selected_mode == "mode-competition" %} active{% endif %}" id="open-competition">
          {{open_games(False)}}
        </div>
        <div class="tab-pane{% if selected_mode == "mode-public" %} active{% endif %}" id="open-public">
          {{open_games(True)}}
        </div>
    </div>
  </div><!-- /#open -->

</div>

</div><!-- /.container -->
{% endblock %}
