{% extends "web/base.html" %}
{% import "import/rank_table.html" as rt %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename="js/range-editor.js")}}"></script>
<script>$('[data-toggle="tooltip"]').tooltip()</script>
<script>
    $MIN_RAISE = Number({{min_raise}});
    $MAX_RAISE = Number({{max_raise}});
    $CAN_RAISE = '{{can_raise}}' == 'true';
    $NEXT_MAP = {{ next_map|safe }};
    $RNG_FOLD = "{{ rng_fold }}";
    $RNG_PASSIVE = "{{ rng_passive }}";
    $RNG_AGGRESSIVE = "{{ rng_aggressive }}";
</script>
{% endblock %}

{% block navbar %}
{# That's right - nothing. #}
{% endblock %}

{% macro suit_intro() %}
  <label>Select suit combos:</label> <div class="btn-group"><button class="btn btn-default" type=button onclick="select_all_suit(false)">None</button><button type=button class="btn btn-default" onclick="select_all_suit(true)">All</button></div>
{% endmacro %}

{% macro suit_hidden() %}
  {% for table in [suited_table, pair_table, offsuit_table] -%}
    {% for row in table -%}
      {% for details in row -%}
        {% if details.class != "s_hdn" -%}
          <input type=hidden id="sel_{{details.id}}" name="sel_{{details.id}}" class="s_h" value="true">
        {%- endif %}
      {%- endfor %}
    {%- endfor %}
  {%- endfor %}
{% endmacro %}

{% macro suited_suits() %}
  <table>
   <tr>
    <td colspan=4><label>Suited combos:</label></td>
   </tr>
   {% for row in suited_table %}
   <tr>
    {% for details in row %}
    <td>{% if details.class != "s_hdn" %}<div title="{{details.hover}}"><a class="{{details.class}} suit-button btn btn-default btn-md id_{{details.id}}" onclick="suit_click(event, '{{details.id}}');"><img alt="" style="vertical-align:middle" src="/static/suits/{{details.left}}.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/{{details.right}}.svg" width=20 height=20></a></div>{% endif %}</td>
    {% endfor %}
   </tr>
   {% endfor %}
  </table>
{% endmacro %}

{% macro pair_suits() %}
  <table>
   <tr>
    <td colspan=4><label>Pair combos:</label></td>
   </tr>
   {% for row in pair_table %}
   <tr>
    {% for details in row %}
    <td>{% if details.class != "s_hdn" %}<div title="{{details.hover}}"><a class="{{details.class}} suit-button btn btn-default btn-md id_{{details.id}}" onclick="suit_click(event, '{{details.id}}');"><img alt="" style="vertical-align:middle" src="/static/suits/{{details.left}}.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/{{details.right}}.svg" width=20 height=20></a></div>{% endif %}</td>
    {% endfor %}
   </tr>
   {% endfor %}
  </table>
{% endmacro %}

{% macro offsuit_suits() %}
  <table>
   <tr>
    <td colspan=4><label>Offsuit combos:</label></td>
   </tr>
   {% for row in offsuit_table %}
   <tr>
    {% for details in row %}
    <td>{% if details.class != "s_hdn" %}<div title="{{details.hover}}"><a class="{{details.class}} suit-button btn btn-default btn-md id_{{details.id}}" onclick="suit_click(event, '{{details.id}}');"><img alt="" style="vertical-align:middle" src="/static/suits/{{details.left}}.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/{{details.right}}.svg" width=20 height=20></a></div>{% endif %}</td>
    {% endfor %}
   </tr>
   {% endfor %}
  </table>
{% endmacro %}

{% block content %}

{{ flash_messages() }}

{% if rng_unassigned == 'nothing' %}
<h3>You've assigned your whole range.</h3>
<form role="form" onsubmit="return populate_parent();">
{% if rng_aggressive != 'nothing' %}
<div class="form-group">
  <label for="raise-total">{% if raised == "true" %}Raise total{% else %}Bet amount{% endif %}</label>
  <input type=number class="form-control" id='raise-total' type=number maxlength=3 size=4 min={{min_raise}} max={{max_raise}}>
  <p class="help-block">{{min_raise}} - {{max_raise}}</p>
</div>
{% endif %}
<div class="form-group">
  <button type=submit class="btn btn-primary">Do it</button>
  <p class="help-block">Or review your range choices below.</p>
</div>
</form>
<hr>
{% endif %}

<form action='{{url_for('range_editor')}}' method=post>
{% for item in hidden_fields %}<input type=hidden name="{{item[0]}}" value="{{item[1]}}">
{% endfor %}

{% if card_names %}
The board is: {% for card in card_names %}<img alt="{{card}}" src="/static/smallcards/{{card}}.png">{% endfor %}
{% endif %}

<div class="pad-above">
<table><tr>
<td class="combo-table">

<!-- Start Rank Combos -->
  <label>Select rank combos:</label> <div class="btn-group"><a class="btn btn-default" onclick="select_all_rank(false)">None</a><a class="btn btn-default" onclick="select_all_rank(true)">All</a></div>
  <div class="pad-above">
  {{ rt.formatted_rank_table(rank_table, False) }}  
  </div>
<!-- End Rank Combos -->

</td>
<td class="combo-table hidden-xs pad-left">
<!-- Start Suit Combos -->
  {{ suit_hidden() }}
  {{ suit_intro() }}
  <div class="pad-above">{{ suited_suits() }}</div>
  <div class="pad-above">{{ pair_suits() }}</div>
  <div class="pad-above">{{ offsuit_suits() }}</div>
<!-- End Suit Combos -->

</td>
</table>

<div class="visible-xs pad-above">
  {{ suit_intro() }}
</div>
<div class="pad-above">
<table class="visible-xs"><tr>
  {# no suit_hidden() here -#}
  <td class="combo-table pad-left">
    {{ suited_suits() }}
  </td>
  <td class="combo-table pad-left">
    {{ pair_suits() }}
  </td>
  <td class="combo-table pad-left">
    {{ offsuit_suits() }}
  </td>
</tr></table>
</div>
</div>

<!-- Start 4 x Range -->
<div class="pad-above">
<table class="table table-condensed" style="width:400px">
  <tr>
    <td><button class="btn btn-primary" type=submit name=submit value="reset">(Reset)</button></td>
    <td><button class="btn btn-primary" type=submit name=submit value="fold">Fold</button></td>
    <td><button class="btn btn-primary" type=submit name=submit value="passive">{% if can_check == "true" %}Check{% else %}Call{% endif %}</button></td>
    {% if can_raise == 'true' %}<td><button class="btn btn-primary" type=submit name=submit value="aggressive">{% if raised == "true" %}Raise{% else %}Bet{% endif %}</button></td>{% endif %}
  </tr>
  <tr>
    <td>{{ '%0.2f' % pct_unassigned }}%</td>
    <td>{{ '%0.2f' % pct_fold }}%</td>
    <td>{{ '%0.2f' % pct_passive }}%</td>
    {% if can_raise == 'true' %}<td>{{ '%0.2f' % pct_aggressive }}%</td>{% endif %}
  </tr>
  <tr>
    <td><input type=checkbox id=l_una name=l_una {% if l_una %}checked=checked{% endif %}><label for=l_una>Hold</label></td>
    <td><input type=checkbox id=l_fol name=l_fol {% if l_fol %}checked=checked{% endif %}><label for=l_fol>Hold</label></td>
    <td><input type=checkbox id=l_pas name=l_pas {% if l_pas %}checked=checked{% endif %}><label for=l_pas>Hold</label></td>
    {% if can_raise == 'true' %}<td><input type=checkbox id=l_agg name=l_agg {% if l_agg %}checked=checked{% endif %}><label for=l_agg>Hold</label></td>{% endif %}
  </tr>
</table>
</div>
<!-- End 4 x Range -->


</form>

{% endblock %}