{% extends "web/base.html" %}

{% block title %}Showdown - Range vs. Range{% endblock %}

{% block content %}

<div class="container">
  <div class="page-header">
    <h1>
      Showdown in <a href="{{url_for('game_page', gameid=gameid)}}">Game {{gameid}}</a><br>
      <small>Showdown between {{showdown.players_desc()}} for {{showdown.pot}} chips</small>
    </h1>
  </div>
</div>

{{ flash_messages() }}

<div class="container">

<table class="table table-bordered">
<thead>
<tr>
  <td><strong>Player</strong></td>
  <td><strong>Equity</strong></td>
  <td><strong>Payout</strong></td>
</tr>
</thead>
<tbody>
{% for equity in showdown.equities %}
<tr>
  <td>{{equity.user.screenname}}</td>
  <td>{% if equity.equity is none %}(not yet calculated){% else %}{{equity.equity}}{% endif %}</td>
  <td>{% if equity.equity is none %}(not yet calculated){% else %}{{equity.equity * showdown.pot}}{% endif %}</td>
</td>
{% endfor %}
</tbody>
</table>

{{ share_buttons() }}

</div>

{% endblock %}