{% extends "web/base.html" %}

{% block title %}Range vs. Range{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>"{{description}}"<br><small>Leaderboards</small></h1>
  </div>
  {{ flash_messages() }}
{% for name, entries in leaderboards %}
  <h3>"{{name}}" leaderboard</h3>
  <table class="table table-bordered">
    <thead><tr>
      <td><strong>Player</strong></td>
      <td><strong>Average result</strong></td>
      <td><strong>Confidence</strong></td>
    </tr></thead>
    <tbody>
    {% set number = 1 %}
    {% for entry in entries %}
    <tr>
        <td>{{number}}. <strong>{{entry.screenname}}</strong></td> {% set number = number + 1 %}
        <td>{{"%0.4f" % (entry.average,)}} ({{entry.played}} hands)</td>
        <td>{{"%0.1f%%" % (entry.confidence * 100.0,)}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <hr>
{% endfor %}
{{ share_buttons() }}
</div>
{% endblock %}
