{% extends "web/base.html" %}

{% block title %}What happens now?{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>What happens now?</h1>
  </div>
  <p>Congratulations, you've made your first move in your first game.</p>
  <p>Now, you'll need to wait for the other players in the game to act. When it's your turn to act again, you'll receive an email. After that, if you don't act for 7 days, you'll be timed out and fold. Typically, people make a couple of moves each day in each game.</p>
  <p>In the mean time, you can start more games. Just remember, Optimization Mode games split if you split your range &mdash; you can easily end up with a dozen concurrent betting lines being played out in different games.</p>
  <div class="alert alert-info" role="alert">You won't see this message again.</div>
</div>
{% endblock %}