{% extends "new/base.html" %}

{% block title %}Range vs. Range{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Range vs. Range</h1>
    <p>Game-changing training for professional no-limit hold'em</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Training that makes you think</h3>
<p>Range vs. Range puts you in the driver's seat. This training is not about
watching someone else play. Range vs. Range is watching <strong>you</strong>
play. You will face exactly the kinds of decisions that you'll get at the table,
and Range vs. Range will tell you exactly how to improve.</p>
    </div>
    <div class="col-md-4">
      <h3>Training that targets the situations you need to improve</h3>
<p>If you are a heads-up player, you can play our heads-up situation. 6-max
player having trouble playing in position when you've called a 3-bet? We've got
that covered too. Whatever situation it is you want to practice or improve, Range
vs. Range will train that situation until your strategy is perfect.</p>
    </div>
    <div class="col-md-4">
      <h3>Training that makes you consider your range, not just your cards</h3>
<p>Training on Range vs. Range is playing poker &mdash; but you don't get to see
your cards. Instead, you see your range, and you decide what hands to fold, call
or raise. If you know anything about playing mid-stakes and above, you already
know that range-based thinking is vital to beating the regulars.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Training that takes the luck out of poker</h3>
<p>Luck is what makes poker fun. Luck is also what makes it so hard to improve.
When you try something new, you never really know if it's working, or if you are
just running good. Your sample size is never big enough. Range vs. Range gives
you every hand with equal probability &mdash; an infinity of experience, dealt to
you in every hand you play.</p>
    </div>
    <div class="col-md-4">
      <h3>Training that shows you precisely how much EV you are losing</h3>
<p>After every hand, you'll get strategic analysis of every combo in every range
through the hand. If you folded a hand that was worth a call, or jammed with a
hand that should have been a fold, or if you missed a bluff, we'll tell you
exactly how much it cost you. And that's all in just one hand, because you're
playing your range, not your cards.</p>
    </div>
    <div class="col-md-4">
      <h3>Training that shows you how to improve incrementally, from where you are right now</h3>
<p>Other kinds of poker training tell you what you should do. There is even
software out there now that tells you what stats you should have, that you can
improve by mimicking others' statistics. This is madness! Don't aim to be someone
else. Be yourself, but better. Keep what is good about your game, and improve
what is not. Don't mimic the regulars, <em>beat them</em>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Training to beat the regulars in your game</h3>
<p>You already know how to beat fish. Range vs. Range is about beating the
better players, about making you the best player at the table, about turning the
regulars into fish, about beating the players who are making the training videos,
whose stats are the targets in <a href="http://www.holdemmanager.com/buy/4/leak-buster-no-limit">Leak Buster</a>.
This is continual improvement, from where you are right now, and there is no
limit.</p>
    </div>
  </div>
</div><!-- /.container -->
{% endblock %}