{% extends "new/base.html" %}

{% block title %}Range vs. Range{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Frequently Asked Questions</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Why are there so few questions?</h3>
<p>No one has ever heard of Range vs. Range, so no one has ever asked a
question. If you have a question, you can either email me at
<a href="mailto:rangevsrange@gmail.com">rangevsrange@gmail.com</a>, or post to the Range vs. Range subreddit:
<a href="http://www.reddit.com/r/rangevsrange">www.reddit.com/r/rangevsrange</a>.</p>
    </div>
    <div class="col-md-4">
      <h3>How do I join a game?</h3>
<p>Once you've logged in with your Google account, you can join an open game. The
list of training situations is very small right now, but more will come soon. The
logged in page will show you open games you can join, your running games, and
your finished games.</p>
    </div>
    <div class="col-md-4">
      <h3>How do I play?</h3>
<p>When it is your turn, your game page will have a 'Range Editor' button. On the
<a href="http://rangevsrange.pythonanywhere.com/range-editor?can_raise=true">range editor page</a>,
you can do the rest. The rannge editor shows your current range. You just have to
decide which hands you want to fold, which hands you want to call (or check),
which hands you want to raise (or bet), and the size of your raise. To start
with, all your hands are unallocated. You just have to select some hands, move
them to one of your other ranges, and repeat until you've allocated all of your
current range. Then enter a bet size and click 'Done'.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>How do I select hands?</h3>
<p>The simplest way is to click the rank combinations you want to select. To
select multiple rank combos such as 'A5s+', hold down Ctrl and click the 'A5s'
button. There is also a bunch of suit buttons. Normally, all suit combos are
selected, which means that if you move some rank combo, all suit variations will
be moved. If you want to move only specific suit combos, click the 'None' button
above the suits, then click to select the specific suit combos you want to move.
<a href="http://rangevsrange.pythonanywhere.com/range-editor?can_raise=true">Try it!</a></p>
    </div>
  </div>
</div><!-- /.container -->
{% endblock %}