{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cover.css') }}">
{% endblock %}

{% block title %}Range vs. Range{% endblock %}

{% block content %}
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Range vs. Range</h3>
          <ul class="nav masthead-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="{{url_for('about_page')}}">About</a></li>
            <li><a href="{{url_for('log_in')}}">Log in</a></li>
          </ul>
        </div>
      </div>
      <div class="inner cover">
        <h1 class="cover-heading">Range vs. Range</h1>
        <p class="lead">Training that puts you under the microscope. Training that tells you exactly how to improve. Training that will make you unbeatable.</p>
        <hr>
        <p class="lead">Training that will change the game of No-limit Hold'em.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-default">Learn more</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}