{% extends "new/base.html" %}

{% block styles %}
{{super()}}
<style>
body {
  padding-top: 0px;
}
</style>
{% endblock %}

{% block navbar %}
{# That's right - nothing. #}
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block content %}

{{ flash_messages() }}

<div class="row">
  <div class="col-xs-12 col-sm-9 col-md-8 col-lg-6">
    <div class="pull-right-sm">

<!-- Start Rank Combos -->
  <p>Select rank combos: <a class="pure-button" onclick="select_all_rank(false)">None</a> <a class="pure-button" onclick="select_all_rank(true)">All</a> <em>tip: try ctrl-click, or hover</em></p>
  <table>
   {% for row in rank_table %}<tr>
    {% for details in row %}
    <td>{% if details.class != "r_hdn" %}<div title="{{details.hover}}"><button type=button id="{{details.id}}" class="{{details.class}} rank-button pure-button" onclick="rank_click('{{details.id}}');">{{details.text}}</button></div><input type=hidden class="r_h" id="sel_{{details.id}}" name="sel_{{details.id}}" value="false">{% else %}<button type=button id="{{details.id}}" class="{{details.class}} hidden-button pure-button" disabled=disabled>&nbsp;</button>{% endif %}</td>
    {% endfor %}
   </tr>{% endfor %}
  </table>
<!-- End Rank Combos -->

    </div>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-4 col-lg-6">

<!-- Start Suit Combos -->
  <table>
   <tr>
    <td colspan=2><button type=button onclick="select_all_suit(false)">None</button></td><td colspan=2><button type=button onclick="select_all_suit(true)">All</button></td>
   </tr>
   <tr>
    <td colspan=4>Select suited combos:</td>
   </tr>
   {% for row in suited_table %}
   <tr>
    {% for details in row %}
    <td>{% if details.class != "s_hdn" %}<div title="{{details.hover}}"><a class="{{details.class}} suit-button pure-button" id="{{details.id}}" onclick="suit_click('{{details.id}}');"><img alt="" style="vertical-align:middle" src="/static/suits/{{details.left}}.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/{{details.right}}.svg" width=20 height=20></a></div><input type=hidden id="sel_{{details.id}}" name="sel_{{details.id}}" class="s_h" value="true">{% endif %}</td>
    {% endfor %}
   </tr>
   {% endfor %}
   <tr>
    <td colspan=4>Select pair combos:</td>
   </tr>
   {% for row in pair_table %}
   <tr>
    {% for details in row %}
    <td>{% if details.class != "s_hdn" %}<div title="{{details.hover}}"><a class="{{details.class}} suit-button pure-button" id="{{details.id}}" onclick="suit_click('{{details.id}}');"><img alt="" style="vertical-align:middle" src="/static/suits/{{details.left}}.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/{{details.right}}.svg" width=20 height=20></a></div><input type=hidden id="sel_{{details.id}}" name="sel_{{details.id}}" class="s_h" value="true">{% endif %}</td>
    {% endfor %}
   </tr>
   {% endfor %}
   <tr>
    <td colspan=4>Select offsuit combos:</td>
   </tr>
   {% for row in offsuit_table %}
   <tr>
    {% for details in row %}
    <td>{% if details.class != "s_hdn" %}<div title="{{details.hover}}"><a class="{{details.class}} suit-button pure-button" id="{{details.id}}" onclick="suit_click('{{details.id}}');"><img alt="" style="vertical-align:middle" src="/static/suits/{{details.left}}.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/{{details.right}}.svg" width=20 height=20></a></div><input type=hidden id="sel_{{details.id}}" name="sel_{{details.id}}" class="s_h" value="true">{% endif %}</td>
    {% endfor %}
   </tr>
   {% endfor %}
  </table>
<!-- End Suit Combos -->


  </div>
</div>


<!-- style="margin-left:auto;margin-right:auto;display:table;" -->


<!-- Start 4 x Range -->
<table class="center-table">
 <tr>
  <td>
   <table>
    <tr><td>Unassigned</td></tr>
    <tr><td>{{ '%0.2f' % pct_unassigned }}%</td></tr>
    <tr><td><input type=checkbox id=l_una name=l_una {% if l_una %}checked=checked{% endif %}><label for=l_una>Lock</label></td></tr>
    <tr><td><button type=submit name=submit value="reset">(Reset)</button></td></tr>
   </table>
  </td>
  <td>
   <table>
    <tr><td>Fold range</td></tr>
    <tr><td>{{ '%0.2f' % pct_fold }}%</td></tr>
    <tr><td><input type=checkbox id=l_fol name=l_fol {% if l_fol %}checked=checked{% endif %}><label for=l_fol>Lock</label></td></tr>
    <tr><td><button type=submit name=submit value="fold">Fold</button></td></tr>
   </table>
  </td>
  <td>
   <table>
    <tr><td>{% if can_check == "true" %}Check range{% else %}Call range{% endif %}</td></tr>
    <tr><td>{{ '%0.2f' % pct_passive }}%</td></tr>
    <tr><td><input type=checkbox id=l_pas name=l_pas {% if l_pas %}checked=checked{% endif %}><label for=l_pas>Lock</label></td></tr>
    <tr><td><button type=submit name=submit value="passive">{% if can_check == "true" %}Check{% else %}Call{% endif %}</button></td></tr>
   </table>
  </td>
  <td>
   {% if can_raise == 'true' %}
   <table>
    <tr><td>{% if raised == "true" %}Raise range{% else %}Bet range{% endif %}</td></tr>
    <tr><td>{{ '%0.2f' % pct_aggressive }}%</td></tr>
    <tr><td><input type=checkbox id=l_agg name=l_agg {% if l_agg %}checked=checked{% endif %}><label for=l_agg>Lock</label></td></tr>
    <tr><td><button type=submit name=submit value="aggressive">{% if raised == "true" %}Raise{% else %}Bet{% endif %}</button></td></tr>
   </table>
   {% endif %}
  </td>
 </tr>
</table>
<!-- End 4 x Range -->

{% endblock %}