{% extends "new/base.html" %}

{% block styles %}
{{super()}}
<style>
body {
  padding-top: 0px;
}
.r_hdn { }
.r_sel { background-color: #C0C0C0 !important; }
.r_una { background-color: #FFFFFF; }
.r_fol { background-color: #FF8080; }
.r_pas { background-color: #FFFF80; }
.r_agg { background-color: #80FF80; }
.r_mix { background-color: #8080FF; }
.s_hdn { }
.s_sel { background-color: #C0C0C0 !important; }
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename="js/range-editor.js")}}"></script>
<script>
    $MIN_RAISE = Number({{min_raise}});
    $MAX_RAISE = Number({{max_raise}});
    $CAN_RAISE = '{{can_raise}}' == 'true';
    $NEXT_MAP = {{ next_map|safe }};
    $RNG_FOLD = "{{ rng_fold }}";
    $RNG_PASSIVE = "{{ rng_passive }}";
    $RNG_AGGRESSIVE = "{{ rng_aggressive }}";
</script>
{% endblock %}

{% block navbar %}
{# That's right - nothing. #}
{% endblock %}

{% block content %}

{{ flash_messages() }}

{% if rng_unassigned == 'nothing' %}
<h3>You've assigned your whole range.</h3>
<form role="form" onsubmit="return populate_parent();">
{% if rng_aggressive != 'nothing' %}
<div class="form-group">
  <label for="raise-total">{% if raised == "true" %}Raise total{% else %}Bet amount{% endif %}</label>
  <input type=number class="form-control" id='raise-total' type=number maxlength=3 size=4 min={{min_raise}} max={{max_raise}}>
  <p class="help-block">{{min_raise}} - {{max_raise}}</p>
</div>
{% endif %}
<div class="form-group">
  <button type=submit class="btn btn-primary">Done</button>
  <p class="help-block">Or review your range choices below.</p>
</div>
</form>
<hr>
{% endif %}

<form action='{{url_for('range_editor')}}' method=post>
{% for item in hidden_fields %}<input type=hidden name="{{item[0]}}" value="{{item[1]}}">
{% endfor %}

<div class="row">
  <div class="col-xs-12 col-sm-9 col-md-8 col-lg-6">
    <div class="pull-right-sm">

<!-- Start Rank Combos -->
  <label>Select rank combos:</label> <div class="btn-group"><a class="btn btn-default" onclick="select_all_rank(false)">None</a><a class="btn btn-default" onclick="select_all_rank(true)">All</a></div>
  <table>
   {% for row in rank_table %}<tr>
    {% for details in row %}
    <td>{% if details.class != "r_hdn" %}<div title="{{details.hover}}"><button type=button id="{{details.id}}" class="{{details.class}} rank-button btn btn-default btn-xs" onclick="rank_click('{{details.id}}');">{{details.text}}</button></div><input type=hidden class="r_h" id="sel_{{details.id}}" name="sel_{{details.id}}" value="false">{% else %}<button type=button id="{{details.id}}" class="{{details.class}} rank-button btn btn-default btn-xs invisible" disabled=disabled>&nbsp;</button>{% endif %}</td>
    {% endfor %}
   </tr>{% endfor %}
  </table>
<!-- End Rank Combos -->

    </div>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-4 col-lg-6">

<!-- Start Suit Combos -->
  <label>Select suit combos:</label> <div class="btn-group"><button class="btn btn-default" type=button onclick="select_all_suit(false)">None</button><button type=button class="btn btn-default" onclick="select_all_suit(true)">All</button></div>
  <table>
   <tr>
    <td colspan=4><label>Suited combos:</label></td>
   </tr>
   {% for row in suited_table %}
   <tr>
    {% for details in row %}
    <td>{% if details.class != "s_hdn" %}<div title="{{details.hover}}"><a class="{{details.class}} suit-button btn btn-default btn-md" id="{{details.id}}" onclick="suit_click('{{details.id}}');"><img alt="" style="vertical-align:middle" src="/static/suits/{{details.left}}.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/{{details.right}}.svg" width=20 height=20></a></div><input type=hidden id="sel_{{details.id}}" name="sel_{{details.id}}" class="s_h" value="true">{% endif %}</td>
    {% endfor %}
   </tr>
   {% endfor %}
   <tr>
    <td colspan=4><label>Pair combos:</label></td>
   </tr>
   {% for row in pair_table %}
   <tr>
    {% for details in row %}
    <td>{% if details.class != "s_hdn" %}<div title="{{details.hover}}"><a class="{{details.class}} suit-button btn btn-default btn-md" id="{{details.id}}" onclick="suit_click('{{details.id}}');"><img alt="" style="vertical-align:middle" src="/static/suits/{{details.left}}.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/{{details.right}}.svg" width=20 height=20></a></div><input type=hidden id="sel_{{details.id}}" name="sel_{{details.id}}" class="s_h" value="true">{% endif %}</td>
    {% endfor %}
   </tr>
   {% endfor %}
   <tr>
    <td colspan=4><label>Offsuit combos:</label></td>
   </tr>
   {% for row in offsuit_table %}
   <tr>
    {% for details in row %}
    <td>{% if details.class != "s_hdn" %}<div title="{{details.hover}}"><a class="{{details.class}} suit-button btn btn-default btn-md" id="{{details.id}}" onclick="suit_click('{{details.id}}');"><img alt="" style="vertical-align:middle" src="/static/suits/{{details.left}}.svg" width=20 height=20><img alt="" style="vertical-align:middle" src="/static/suits/{{details.right}}.svg" width=20 height=20></a></div><input type=hidden id="sel_{{details.id}}" name="sel_{{details.id}}" class="s_h" value="true">{% endif %}</td>
    {% endfor %}
   </tr>
   {% endfor %}
  </table>
<!-- End Suit Combos -->


  </div>
</div>

<!-- Start 4 x Range -->
<table class="table table-condensed center-table" style="width:400px">
  <tr>
    <td><button class="btn btn-primary" type=submit name=submit value="reset">(Reset)</button></td>
    <td><button class="btn btn-primary" type=submit name=submit value="fold">Fold</button></td>
    <td><button class="btn btn-primary" type=submit name=submit value="passive">{% if can_check == "true" %}Check{% else %}Call{% endif %}</button></td>
    {% if can_raise == 'true' %}<td><button class="btn btn-primary" type=submit name=submit value="aggressive">{% if raised == "true" %}Raise{% else %}Bet{% endif %}</button></td>{% endif %}
  </tr>
  <tr>
    <td>{{ '%0.2f' % pct_unassigned }}%</td>
    <td>{{ '%0.2f' % pct_fold }}%</td>
    <td>{{ '%0.2f' % pct_passive }}%</td>
    {% if can_raise == 'true' %}<td>{{ '%0.2f' % pct_aggressive }}%</td>{% endif %}
  </tr>
  <tr>
    <td><input type=checkbox id=l_una name=l_una {% if l_una %}checked=checked{% endif %}><label for=l_una>Lock</label></td>
    <td><input type=checkbox id=l_fol name=l_fol {% if l_fol %}checked=checked{% endif %}><label for=l_fol>Lock</label></td>
    <td><input type=checkbox id=l_pas name=l_pas {% if l_pas %}checked=checked{% endif %}><label for=l_pas>Lock</label></td>
    {% if can_raise == 'true' %}<td><input type=checkbox id=l_agg name=l_agg {% if l_agg %}checked=checked{% endif %}><label for=l_agg>Lock</label></td>{% endif %}
  </tr>
</table>
<!-- End 4 x Range -->


</form>

{% endblock %}