{% macro running_games(games_details) %}
  <table class="table">
    <thead>
      <tr>
        <th style="min-width: 200px; width: 200px">Game</th>
        <th>Players</th>
        <th>Description</th>
      </tr>
    </thead>
    {%- for game in games_details %}
    <tr>
      <td>
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button type=button class="btn btn-default">Game {{game.gameid}}</button>
          </div>
          <div class="btn-group">
            <a href="{{ url_for('game_page', gameid=game.gameid) }}" class="btn {% if game.public_ranges %}btn-warning{% else %}btn-primary{% endif %}" >{% if game.current_user_details.userid == userid %}Play{% else %}View{% endif %}</a>
          </div>
        </div>
      </td>
      <td>{% set pipe = joiner('; ') %}{% for user in game.users %}{{pipe()}}{{user.screenname}}{% endfor %}</td>
      <td>{{game.situation.description}}</td>
    </tr>
    {%- endfor %}
  </table>
{% endmacro %}
