<html>
<body>
{% block content %}
{% endblock %}
{% block unsubscribe %}
<p>
<strong>Did you know:</strong> Range vs. Range now has a Discord server! Join the community, get all your questions answered, and improve your play: <a href="https://discord.gg/rb87sjF">https://discord.gg/rb87sjF</a>
</p>
<p>
Because we don't believe in spamming our users, you won't receive another email
from Range vs. Range until you visit the site again - even if there are more
notifications for you.
</p>
{% endblock %}
</body>
</html>
